<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kalun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>kalun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,99},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>kalun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,52},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>kalun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,107},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>kalun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,68},{52,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>kalun_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,106},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>kalun_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,84},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>kalun_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>kalun_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,104},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>kalun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,76},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>kalun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,74},{14,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,46}}</string>
                <key>sourceSize</key>
                <string>{14,46}</string>
            </dict>
            <key>kalun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,77},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>kalun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,103},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>kalun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,60},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>kalun_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,32},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>kalun_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,99},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>kalun_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,77},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>kalun_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,98},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>kalun_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,100},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>kalun_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,77},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>kalun_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,60},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>kalun_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>kalun_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,100},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>kalun_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,74},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>kalun_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,103},{17,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,53}}</string>
                <key>sourceSize</key>
                <string>{17,53}</string>
            </dict>
            <key>kalun_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,81},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>kalun_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,73},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>kalun_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,72},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>kalun_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{78,63}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{80,63}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{76,61}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{76,61}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{72,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{72,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{70,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{70,59}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,79},{56,41}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{56,41}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,98},{18,17}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{18,17}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{58,65}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{58,65}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{62,77}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{62,73}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{62,73}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{64,63}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{64,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{68,65}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{68,65}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,77},{42,29}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{42,29}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,98},{14,11}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{14,11}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{75,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>kalun_e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,73},{61,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{61,31}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>kalun_e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,74},{41,27}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{41,27}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>kalun_e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,80},{37,27}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{37,27}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>kalunyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,84},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_kalun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
            <key>up_kalun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,68},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>up_kalun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,32},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>up_kalun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,80},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>up_kalun_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,98},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>up_kalun_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>up_kalun_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,104},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>up_kalun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,82},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>up_kalun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,106},{14,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,50}}</string>
                <key>sourceSize</key>
                <string>{14,50}</string>
            </dict>
            <key>up_kalun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,110},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>up_kalun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,98},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>up_kalun_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{65,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,28}}</string>
                <key>sourceSize</key>
                <string>{65,28}</string>
            </dict>
            <key>up_kalun_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,69},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>up_kalun_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,73},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>up_kalun_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{28,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,58}}</string>
                <key>sourceSize</key>
                <string>{28,58}</string>
            </dict>
            <key>up_kalun_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,110},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1022,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ac3b085dce4e8bcda546498b5f758df:9cbc9c9c8f11b77bd37bfa5148836738:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
