<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjy_xzb_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,45}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{70,45}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{70,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,45}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,45}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,45}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{74,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{74,43}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{72,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,43}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,43}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{68,41}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,41}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>hjy_xzb_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{64,37}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{64,37}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{648,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2deaf4eeaf565e83924edf8ba9a7de25:856be497bde7849924159aadab63b0b7:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
