<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ydx_pgfd_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{46,11}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{46,11}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>ydx_pgfd_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{32,23}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>ydx_pgfd_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,19}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{30,19}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>ydx_pgfd_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{46,11}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{46,11}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{116,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bfc8d7a9dac616bfa35f9f07a521108:c48b6361146d7e1d3f3753099c9aa938:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
