<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanxin_fd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,41}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{41,41}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>huanxin_fd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,41}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{41,41}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>huanxin_fd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{41,41}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{41,41}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{131,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8764983eaa9317e9364311f2794717a3:8dff806320742edcbe3b58085c91cd1a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
