<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>tieshan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,98},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>tieshan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,110},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>tieshan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{77,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>tieshan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,99},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>tieshan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,111},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>tieshan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,99},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>tieshan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,93},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>tieshan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,99},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>tieshan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,98},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>tieshan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>tieshan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,99},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>tieshan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,81},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>tieshan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,109},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>tieshan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,82},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>tieshan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,111},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>tieshan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,99},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>tieshan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,99},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>tieshan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,72},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>tieshan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,82},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>tieshan_die_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{89,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,106}}</string>
                <key>sourceSize</key>
                <string>{89,106}</string>
            </dict>
            <key>tieshan_die_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>tieshan_die_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,97}</string>
            </dict>
            <key>tieshan_die_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>tieshan_die_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>tieshan_die_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>tieshan_die_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>tieshan_die_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>tieshan_die_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>tieshan_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>tieshan_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,98},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1004,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7a8b9c9286422f08589ab6ee042d6a:53b9d5f1d52d103393d7e35c2a1f19a6:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
