<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengh_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,165}}</string>
                <key>sourceSize</key>
                <string>{122,165}</string>
            </dict>
            <key>fengh_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{120,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,134}}</string>
                <key>sourceSize</key>
                <string>{120,134}</string>
            </dict>
            <key>fenghuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,75},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>fenghuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>fenghuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,138},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>fenghuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,162},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>fenghuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,82},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>fenghuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,128},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>fenghuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,48},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>fenghuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,75},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>fenghuang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,73},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>fenghuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,171},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>fenghuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,97},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fenghuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,97},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>fenghuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{142,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,21}}</string>
                <key>sourceSize</key>
                <string>{142,21}</string>
            </dict>
            <key>fenghuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,48},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>fenghuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,48},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>fenghuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,113},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>fenghuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,169},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>fenghuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,135},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>fenghuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,155},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>fenghuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,56},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>fenghuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,155},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>fenghuang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,126},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>fenghuang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>fenghuang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,154},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>fenghuang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,41},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>fenghuang_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,48},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>fenghuang_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,173},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>fenghuang_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,171},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>fenghuang_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,169},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>fenghuangfx_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,75},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>fenghuangfx_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,154},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>fenghuangfx_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,114},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>fenghuangfx_a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>fenghuangfx_a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,162},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fenghuangfx_a14.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,158},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fenghuangfx_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,100},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>fenghuangfx_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,116},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>fenghuangfx_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,73},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>fenghuangfx_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,123},{46,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,29}}</string>
                <key>sourceSize</key>
                <string>{46,29}</string>
            </dict>
            <key>fenghuangfx_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,124},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>fenghuangfx_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>fenghuangfx_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>fenghuangfx_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,73},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>fenghuangyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,100},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>fh_xzc_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,79},{23,17}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{23,17}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,169},{25,21}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,46},{25,21}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,169},{25,21}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,46},{25,21}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{25,23}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{25,23}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,53},{27,31}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,36},{27,31}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{29,37}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{29,37}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,122},{33,45}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{33,45}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,79},{37,51}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{37,51}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,136},{37,55}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{37,55}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,136},{35,55}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{35,55}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,137},{61,57}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{61,57}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{63,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{63,71}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{63,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{63,71}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{63,73}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{63,73}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{59,73}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{59,73}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{59,73}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{59,73}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{59,75}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{59,75}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,79},{55,73}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{55,73}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,138},{55,75}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{55,75}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,138},{55,75}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{55,75}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{53,75}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{53,75}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,77},{47,71}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{47,71}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,77},{47,59}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{47,59}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>fh_xzc_a_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,77},{49,49}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{49,49}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>up_fenghuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>up_fenghuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,35},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>up_fenghuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,138},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>up_fenghuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,41},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>up_fenghuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,73},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>up_fenghuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,126},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>up_fenghuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,75},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>up_fenghuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,182},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>up_fenghuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,180},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>up_fenghuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,155},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>up_fenghuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{151,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,38}}</string>
                <key>sourceSize</key>
                <string>{151,38}</string>
            </dict>
            <key>up_fenghuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,169},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>up_fenghuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,48},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>up_fenghuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,82},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>up_fenghuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,168},{10,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,26}}</string>
                <key>sourceSize</key>
                <string>{10,26}</string>
            </dict>
            <key>up_fenghuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,135},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>up_fenghuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,155},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>up_fenghuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,69},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>up_fenghuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,35},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>up_fenghuang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,167},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>up_fenghuang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,132},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>up_fenghuang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,146},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>up_fenghuang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,119},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>up_fenghuang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,169},{61,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,23}}</string>
                <key>sourceSize</key>
                <string>{61,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1018,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4c55ea6caebedbcd7e8c6ab443e4c6:46f7ec8b8397e91f9f6af50def82ea08:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
