<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bamenfx_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,184},{81,101}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{81,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bamenfx_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{85,107}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{85,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bamenfx_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,327},{85,107}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bamenfx_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,111},{71,101}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bamenfx_qq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{189,135}}</string>
                <key>sourceSize</key>
                <string>{189,139}</string>
            </dict>
            <key>bamenfx_qq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{160,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,134}</string>
            </dict>
            <key>bamenfx_qq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{148,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,116}}</string>
                <key>sourceSize</key>
                <string>{150,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{254,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90504a69355ee78c8551a2ffae0534d:481aae73923775c59cf1c53acc0c66c5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
