<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuojinjing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{121,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,60}}</string>
                <key>sourceSize</key>
                <string>{121,60}</string>
            </dict>
            <key>zuojinjing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,64},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>zuojinjing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,62}}</string>
                <key>sourceSize</key>
                <string>{107,62}</string>
            </dict>
            <key>zuojinjing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{197,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad01599788c56e138c4ea574d2dea293:d3e1cb755d9a24bc1be2d32df0ccfe1a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
