<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wgww_roudanzhanche_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{246,102}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{246,102}}</string>
                <key>sourceSize</key>
                <string>{258,108}</string>
            </dict>
            <key>wgww_roudanzhanche_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,104}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{212,104}}</string>
                <key>sourceSize</key>
                <string>{258,108}</string>
            </dict>
            <key>wgww_roudanzhanche_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{224,98}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{224,98}}</string>
                <key>sourceSize</key>
                <string>{258,108}</string>
            </dict>
            <key>wgww_roudanzhanche_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{240,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{240,96}}</string>
                <key>sourceSize</key>
                <string>{258,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{932,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3451fd406f0c845ec9706a7d763a2cf:896bad32d3becc10b22ac97216739b45:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
