<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>huoqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,244},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>huoqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,454},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>huoqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,497},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>huoqiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,382},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>huoqiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{88,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,16}}</string>
                <key>sourceSize</key>
                <string>{88,16}</string>
            </dict>
            <key>huoqiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,494},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>huoqiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,479},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>huoqiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>huoqiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,396},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>huoqiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,229},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>huoqiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,360},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>huoqiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,200},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>huoqiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,454},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>huoqiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,341},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>huoqiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,125},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>huoqiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,476},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>huoqiang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,92},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>huoqiang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,497},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>huoqiang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,317},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>huoqiang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,146},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>huoqiang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,476},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>huoqiang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>huoqiang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,479},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>huoqiang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,174},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>huoqiang_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,281},{34,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>kalun_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{78,63}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{80,63}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{76,61}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{76,61}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{72,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{72,63}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>kalun_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,396},{56,41}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{56,41}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{90,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c79c9f3a7edacea4d936f57f4c617a3:a4e933eeb8fcf2e652392f468eddaa47:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
