<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chibang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,135},{35,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,14}}</string>
                <key>sourceSize</key>
                <string>{35,14}</string>
            </dict>
            <key>chibang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,82},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>chibang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,104},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>chibang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,76},{12,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,46}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>jiuxuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,80},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>jiuxuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,203},{17,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,44}}</string>
                <key>sourceSize</key>
                <string>{17,44}</string>
            </dict>
            <key>jiuxuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,121},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>jiuxuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,154},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>jiuxuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,192},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>jiuxuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,130},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>jiuxuan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,82},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{36,63}</string>
            </dict>
            <key>jiuxuan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,72},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>jiuxuan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,90},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>jiuxuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,196},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>jiuxuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,72},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>jiuxuan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,192},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>jiuxuan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,203},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>jiuxuan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,80},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>jiuxuan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,111},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>jiuxuan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,111},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{8,21}</string>
            </dict>
            <key>jiuxuan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,135},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>jiuxuan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,90},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>jiuxuan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,154},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>jiuxuan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,135},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>jiuxuan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,135},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>jiuxuan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,135},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>jiuxuan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>jiuxuan_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,131},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>jiuxuan_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,117},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>jiuxuan_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,45},{43,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{43,68}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{47,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{47,68}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,131},{55,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,121},{55,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,80}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{55,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,78}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,151},{49,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{49,68}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,150},{49,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{49,70}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{51,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{51,72}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,113},{51,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,72}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,116},{53,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{53,74}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,118},{55,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{55,76}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{55,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,76}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuan_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{55,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,78}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiuxuanyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,120},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>jxlr_pg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{150,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{150,67}}</string>
                <key>sourceSize</key>
                <string>{162,67}</string>
            </dict>
            <key>jxlr_pg_c_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,131},{35,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,38},{35,89}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,121},{39,99}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{39,99}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{47,107}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{47,107}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{53,117}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{53,117}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{59,127}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{59,127}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{63,131}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{63,131}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,155},{65,135}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{65,135}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,151},{69,139}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{69,139}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{73,143}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{73,143}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{75,147}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{75,147}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{79,151}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{79,151}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>jxlr_pg_c_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,155}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{85,155}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>up_jiuxuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,187},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>up_jiuxuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,200},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>up_jiuxuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,90},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>up_jiuxuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,187},{29,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,56}}</string>
                <key>sourceSize</key>
                <string>{29,56}</string>
            </dict>
            <key>up_jiuxuan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,70}}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
            <key>up_jiuxuan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,82},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>up_jiuxuan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,90},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>up_jiuxuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,196},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>up_jiuxuan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,111},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{8,21}</string>
            </dict>
            <key>up_jiuxuan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,90},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>up_jiuxuan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,90},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>up_jiuxuan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>up_jiuxuan_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,178},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>up_jiuxuan_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,135},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1019,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17abf39396e1734a0f0fd410ca7d5d9a:6d86b24c10568b271b51adf19dd3f2a3:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
