<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_huoyan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,92},{84,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{84,120}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>js_huoyan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,130},{78,144}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{78,144}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>js_huoyan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,130},{70,132}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{70,132}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>js_huoyan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{88,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>js_juqi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,152},{164,54}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{164,54}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,64},{202,64}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,64}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,60}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{258,60}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,80},{248,70}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{248,70}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{228,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{228,78}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{146,62}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{146,62}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_juqi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,152},{136,58}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{136,58}}</string>
                <key>sourceSize</key>
                <string>{258,78}</string>
            </dict>
            <key>js_quanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>js_zhixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{217,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,36}}</string>
                <key>sourceSize</key>
                <string>{225,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1024,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:492cc07f9ca0d736dc220c2c482f96d4:ed6b4d19f36a79ab136377267a00a78f:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
