<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianbingweiyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>rencilang_xxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,327},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>yufeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,735},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>yufeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,390},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>yufeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,804},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>yufeng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,889},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>yufeng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,372},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,16}}</string>
                <key>sourceSize</key>
                <string>{43,16}</string>
            </dict>
            <key>yufeng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,845},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>yufeng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,59}}</string>
                <key>sourceSize</key>
                <string>{104,59}</string>
            </dict>
            <key>yufeng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>yufeng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,139}}</string>
                <key>sourceSize</key>
                <string>{140,139}</string>
            </dict>
            <key>yufeng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,311},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>yufeng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,614},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>yufeng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{79,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>yufeng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>yufeng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>yufeng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,845},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>yufeng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{130,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,104}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>yufeng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,878},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>yufeng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,777},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>yufeng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,250},{70,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{70,33}</string>
            </dict>
            <key>yufeng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,50}</string>
            </dict>
            <key>yufeng_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>yufeng_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,418},{147,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,49}}</string>
                <key>sourceSize</key>
                <string>{147,49}</string>
            </dict>
            <key>yufeng_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>yufeng_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>yufeng_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,735},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{58,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{58,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{58,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,567},{58,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{58,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{56,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,623},{58,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{58,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,679},{58,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{58,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,789},{56,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{56,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>yufeng_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{58,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{58,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{143,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a479d5dd438cc8c0045cce969a68b1bc:8fd9cebfd13f0486649be2069730ba0b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
