<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyan00010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,630},{104,194}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{104,194}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{98,184}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{98,184}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,410},{100,194}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{100,194}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,826},{104,188}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{104,188}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,214},{108,194}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{108,194}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{104,200}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{104,200}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{102,204}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{102,204}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{108,210}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{108,210}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{116,202}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{116,202}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>huoyan00010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,210}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{222,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86080832459fbd7c09e4a1a0b810dd2c:6b5bd31db6aa48b07532415e9541a78a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
