<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmsf_dz_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{91,25}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{91,25}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,168},{99,29}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{99,29}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{101,29}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{101,29}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,168},{99,29}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{99,29}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,168},{101,31}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{101,31}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,168},{101,31}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{101,31}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{101,33}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{101,33}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{101,33}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{101,33}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{103,35}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{103,35}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,168},{103,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{103,37}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{103,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{103,37}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,168},{103,39}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,39}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{105,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,41}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{107,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{105,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,41}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>bmsf_dz_a_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,168},{105,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,39}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>hbj_xz_b_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,271},{50,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{50,49}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,269},{50,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,49}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,77},{50,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,49}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,128},{50,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,49}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,275},{46,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{46,47}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,273},{48,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{48,51}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,109},{58,57}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,188},{42,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{42,43}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,188},{40,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{40,43}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,179},{38,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{38,39}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,233},{34,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{34,35}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,120},{26,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{26,25}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hbj_xz_b_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,304},{16,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{16,17}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hhhbj_bsyw_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,111},{54,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{54,55}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,261},{62,59}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{62,59}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,96},{62,59}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,59}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,109},{60,57}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{60,57}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,105},{56,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{56,61}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,273},{48,49}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{48,49}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,233},{26,31}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{26,31}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>up_yingwuzhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,43},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>up_yingwuzhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,107},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>up_yingwuzhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,166},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>up_yingwuzhe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,219},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>up_yingwuzhe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,168},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>up_yingwuzhe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{98,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,35}}</string>
                <key>sourceSize</key>
                <string>{98,35}</string>
            </dict>
            <key>up_yingwuzhe_25_app.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,168},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>up_yingwuzhe_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,88},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>up_yingwuzhe_yyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,123}}</string>
                <key>sourceSize</key>
                <string>{169,123}</string>
            </dict>
            <key>up_yingwuzhe_zzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,168},{139,158}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{139,158}}</string>
                <key>sourceSize</key>
                <string>{155,174}</string>
            </dict>
            <key>yingwuzhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,137},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>yingwuzhe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,240},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>yingwuzhe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,309},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>yingwuzhe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,121},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>yingwuzhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,98},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>yingwuzhe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,295},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>yingwuzhe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,270},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>yingwuzhe_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,309},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>yingwuzhe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,188},{44,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{44,17}</string>
            </dict>
            <key>yingwuzhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,143},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>yingwuzhe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,234},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>yingwuzhe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,170},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>yingwuzhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,309},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>yingwuzhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,261},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>yingwuzhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,148},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>yingwuzhe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,309},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>yingwuzhe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,280},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>yingwuzhe_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,309},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>yingwuzhe_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,285},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>yingwuzhe_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,270},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>yingwuzhe_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,270},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>yingwuzhe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,295},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>yingwuzhe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{154,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,35}}</string>
                <key>sourceSize</key>
                <string>{154,35}</string>
            </dict>
            <key>yingwuzhe_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,269},{48,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,17}</string>
            </dict>
            <key>yingwuzhe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{90,35}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{106,35}</string>
            </dict>
            <key>yingwuzhe_25_app.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,160},{89,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,35}}</string>
                <key>sourceSize</key>
                <string>{89,35}</string>
            </dict>
            <key>yingwuzhe_b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,155},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>yingwuzhe_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,168},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>yingwuzhe_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{92,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,43}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>yingwuzhe_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>yingwuzhe_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>yingwuzhe_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,43},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>yingwuzhe_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,240},{19,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{19,18}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>yingwuzhe_d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,94},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>yingwuzhe_d17.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,261},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>yingwuzhe_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,88},{53,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,40}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>yingwuzhe_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,261},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>yingwuzhe_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,252},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>yingwuzhe_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,235},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>yingwuzhe_yyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{164,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,124}}</string>
                <key>sourceSize</key>
                <string>{164,124}</string>
            </dict>
            <key>yingwuzhe_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,155},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>yingwuzhe_zzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{146,145}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{146,145}}</string>
                <key>sourceSize</key>
                <string>{154,163}</string>
            </dict>
            <key>ywz_td_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,269},{52,39}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{52,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>ywz_td_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,264},{54,37}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{54,37}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>ywz_td_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,76},{42,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{42,25}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>ywz_td_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,77},{42,29}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{42,29}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>ywz_xz_b_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{94,76}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,7},{94,76}}</string>
                <key>sourceSize</key>
                <string>{170,96}</string>
            </dict>
            <key>ywz_xz_b_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,168},{94,76}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{94,76}}</string>
                <key>sourceSize</key>
                <string>{170,96}</string>
            </dict>
            <key>ywz_xz_b_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{84,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{84,72}}</string>
                <key>sourceSize</key>
                <string>{170,96}</string>
            </dict>
            <key>ywz_xz_b_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,102},{68,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,20},{68,64}}</string>
                <key>sourceSize</key>
                <string>{170,96}</string>
            </dict>
            <key>ywz_xz_b_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,261},{62,60}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,23},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1018,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c8873c239a4f0a41a11de8c146c1c77:37de0cedea0a980c20c38708309026d9:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
