<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cullen_xx00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>cullen_xx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{36,51}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{36,51}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>cullen_xx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{38,53}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{38,53}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{46,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5c48c4ffb7d4efb0c33c9f8fc54778f:b0c93b9c06ec4b3036c627eb52519340:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
