<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pit_lightpoint0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{32,43}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{32,43}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{42,49}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{42,49}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{42,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{42,51}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{42,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{42,51}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{38,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{38,43}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{42,53}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{42,53}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{42,53}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{42,53}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{42,53}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{42,53}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{44,53}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{42,39}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{42,39}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{44,45}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{44,45}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{42,45}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{42,45}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{42,45}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{42,45}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{42,45}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{42,45}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>pit_lightpoint0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{42,43}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{42,43}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{48,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dee023b964e1916583fb64b0af27d463:86650755780abf18dfd1cfef1b08f800:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
