<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfxc_xza_b_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,29}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{90,29}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>dfxc_xza_b_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{88,29}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>dfxc_xza_b_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,33},{88,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{88,29}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>dfxc_xza_b_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{90,29}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{90,29}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{185,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8adad5972d96d1cbc22c1db1f459cdb7:9c35751262271b36279a1a71801bd310:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
