<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_white_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>a_white_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>a_white_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,149},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>a_white_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,229},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>a_white_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,205},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>a_white_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,170},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>white_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,205},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>white_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,239},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>white_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,188},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>white_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,229},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>white_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,218},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>white_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,225},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>white_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,239},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>white_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,187},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>white_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>white_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,149},{36,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,8}}</string>
                <key>sourceSize</key>
                <string>{36,8}</string>
            </dict>
            <key>white_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{76,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e80829284b12c76bf666f33745ffb8aa:b8380e2676fcc1b5c7e8401db64a5fc5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
