<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongxidc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{428,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,113}}</string>
                <key>sourceSize</key>
                <string>{428,113}</string>
            </dict>
            <key>gongxidc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,211},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>gongxidc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,211},{66,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>gongxidc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,211},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,90}</string>
            </dict>
            <key>gongxidc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{697,207}}</string>
                <key>sourceSize</key>
                <string>{697,217}</string>
            </dict>
            <key>js_zhixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{90,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,15}}</string>
                <key>sourceSize</key>
                <string>{94,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{728,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a102c3cd1b030a3b554890dc8967d7c3:437805f5f87c76ca5d54b17b9442adc4:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
