<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yy_henzhan_dimian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{128,126}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
            <key>yy_henzhan_dimian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,730},{322,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{322,180}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
            <key>yy_henzhan_dimian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,548},{340,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{340,180}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
            <key>yy_henzhan_dimian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{356,180}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{356,180}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
            <key>yy_henzhan_dimian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{372,180}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{372,180}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
            <key>yy_henzhan_dimian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{376,180}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
            <key>yy_henzhan_dimian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{358,180}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{358,180}}</string>
                <key>sourceSize</key>
                <string>{390,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{526,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:497950c4f148e9acd968760740da1cab:3e3e861f9f6e6297bcb848cb623577a6:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
