<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtl_b_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,89},{30,31}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{30,31}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{54,65}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{54,65}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{72,85}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{72,85}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{84,79}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{84,79}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{76,91}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{76,91}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{78,77}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{78,77}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{84,103}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{84,103}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{92,117}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{92,117}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{102,111}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{102,111}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,119}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,119}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{116,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{116,111}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>mtl_b_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{114,107}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{114,107}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{988,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb5c3fc671b2be010b2e4cc038fd1eff:25a2c882ab44f3f831f733ff0b234b4c:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
