<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kkx.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{275,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,224}}</string>
                <key>sourceSize</key>
                <string>{275,224}</string>
            </dict>
            <key>kkx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,279},{135,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,82}}</string>
                <key>sourceSize</key>
                <string>{135,82}</string>
            </dict>
            <key>kkx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,279},{88,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,141}}</string>
                <key>sourceSize</key>
                <string>{88,141}</string>
            </dict>
            <key>kkx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{277,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,113}}</string>
                <key>sourceSize</key>
                <string>{277,113}</string>
            </dict>
            <key>kkx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,287},{181,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,148}}</string>
                <key>sourceSize</key>
                <string>{181,148}</string>
            </dict>
            <key>kkx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,421},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>kkx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,279},{167,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,104}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>kkx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,171},{124,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,107}}</string>
                <key>sourceSize</key>
                <string>{124,107}</string>
            </dict>
            <key>kkx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,354},{93,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,152}}</string>
                <key>sourceSize</key>
                <string>{93,152}</string>
            </dict>
            <key>kkx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,301},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>kkx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,301},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>kkx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,297},{122,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,83}}</string>
                <key>sourceSize</key>
                <string>{122,83}</string>
            </dict>
            <key>kkx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{142,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,107}}</string>
                <key>sourceSize</key>
                <string>{142,107}</string>
            </dict>
            <key>kkx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,416},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>kkx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,297},{89,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,99}}</string>
                <key>sourceSize</key>
                <string>{89,99}</string>
            </dict>
            <key>kkx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,288},{172,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,192}}</string>
                <key>sourceSize</key>
                <string>{172,192}</string>
            </dict>
            <key>kkx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,422},{123,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>sourceSize</key>
                <string>{123,84}</string>
            </dict>
            <key>kkx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,85},{111,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,84}}</string>
                <key>sourceSize</key>
                <string>{111,84}</string>
            </dict>
            <key>kkx_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>kkx_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{297,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,99}}</string>
                <key>sourceSize</key>
                <string>{297,99}</string>
            </dict>
            <key>kkx_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{283,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,106}}</string>
                <key>sourceSize</key>
                <string>{283,106}</string>
            </dict>
            <key>kkx_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{284,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,90}}</string>
                <key>sourceSize</key>
                <string>{284,90}</string>
            </dict>
            <key>kkx_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{256,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,133}}</string>
                <key>sourceSize</key>
                <string>{256,133}</string>
            </dict>
            <key>kkx_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,97}}</string>
                <key>sourceSize</key>
                <string>{360,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton1.png</string>
            <key>size</key>
            <string>{998,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5da21f05fd1e2f24a47d1d66eaf1cdc4:481a927fd80444efd55414634ebfbc82:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton1.png</string>
        </dict>
    </dict>
</plist>
