<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoumuren_fd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,60}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>shoumuren_fd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,60}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>shoumuren_fd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,60}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{365,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e7e17f5ecfa50303d655798947b231:10a319bec3b00c36290541c730adf5a0:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
