<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eagle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{104,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,71}}</string>
                <key>sourceSize</key>
                <string>{104,71}</string>
            </dict>
            <key>eagle_down_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{92,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{92,120}</string>
            </dict>
            <key>eagle_down_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>eagle_down_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>eagle_down_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{92,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,143}}</string>
                <key>sourceSize</key>
                <string>{92,143}</string>
            </dict>
            <key>eagle_down_r_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{121,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,49}}</string>
                <key>sourceSize</key>
                <string>{121,49}</string>
            </dict>
            <key>eagle_down_r_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{64,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,113}}</string>
                <key>sourceSize</key>
                <string>{64,113}</string>
            </dict>
            <key>eagle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>eagle_up_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,759},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>eagle_up_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{59,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,110}}</string>
                <key>sourceSize</key>
                <string>{59,110}</string>
            </dict>
            <key>eagle_up_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,902},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>eagle_up_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>eagle_up_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{132,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,45}}</string>
                <key>sourceSize</key>
                <string>{132,45}</string>
            </dict>
            <key>eagle_up_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{77,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,118}}</string>
                <key>sourceSize</key>
                <string>{77,118}</string>
            </dict>
            <key>eagle_up_r_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>eagle_up_r_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{43,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,111}}</string>
                <key>sourceSize</key>
                <string>{43,111}</string>
            </dict>
            <key>xinshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
            <key>xinshi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,267},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>xinshi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,502},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>xinshi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,851},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>xinshi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,444},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>xinshi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,289},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>xinshi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,70},{11,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,43}}</string>
                <key>sourceSize</key>
                <string>{11,43}</string>
            </dict>
            <key>xinshi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{41,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,110}}</string>
                <key>sourceSize</key>
                <string>{41,110}</string>
            </dict>
            <key>xinshi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,444},{17,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,56}}</string>
                <key>sourceSize</key>
                <string>{17,56}</string>
            </dict>
            <key>xinshi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,164},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>xinshi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,344},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>xinshi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,364},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>xinshi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,213},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>xinshi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,326},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>xinshi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,144}}</string>
                <key>sourceSize</key>
                <string>{66,144}</string>
            </dict>
            <key>xinshi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,557},{200,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,41}}</string>
                <key>sourceSize</key>
                <string>{200,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{160,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d6354e84f5f462009e9d6efc2ce9841:de00a6262b32396a621a98d0772f0afe:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
