<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mddal_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>mddal_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{110,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,143}}</string>
                <key>sourceSize</key>
                <string>{110,143}</string>
            </dict>
            <key>mddal_e_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,199},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>mddal_e_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,148}}</string>
                <key>sourceSize</key>
                <string>{96,148}</string>
            </dict>
            <key>mddal_e_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,49},{96,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,148}}</string>
                <key>sourceSize</key>
                <string>{96,148}</string>
            </dict>
            <key>mddal_e_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,356},{57,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,112}}</string>
                <key>sourceSize</key>
                <string>{57,112}</string>
            </dict>
            <key>mddal_e_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{58,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,112}}</string>
                <key>sourceSize</key>
                <string>{58,112}</string>
            </dict>
            <key>mddal_e_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,278},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>mddal_e_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{127,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,61}}</string>
                <key>sourceSize</key>
                <string>{127,61}</string>
            </dict>
            <key>mddal_e_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,275},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>mddal_e_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,275},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>mddal_e_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,515},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>mddal_e_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,515},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>mddal_e_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,415},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>mddal_e_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,482},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>mddal_e_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{50,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,116}}</string>
                <key>sourceSize</key>
                <string>{50,116}</string>
            </dict>
            <key>mddal_e_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>mddal_e_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{46,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,111}}</string>
                <key>sourceSize</key>
                <string>{46,111}</string>
            </dict>
            <key>mddal_e_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,435},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>mddal_e_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{101,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,45}}</string>
                <key>sourceSize</key>
                <string>{101,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{256,553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3fe31f56b1ecaff4aa3d97bda875fd7:5bdc0c97cfcf2982fb26d4ea7dae79dc:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
