<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ygyy_wanjianqifa_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{292,4}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{292,4}}</string>
                <key>sourceSize</key>
                <string>{318,18}</string>
            </dict>
            <key>ygyy_wanjianqifa_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{290,8}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{290,8}}</string>
                <key>sourceSize</key>
                <string>{318,18}</string>
            </dict>
            <key>ygyy_wanjianqifa_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,186},{252,8}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{252,8}}</string>
                <key>sourceSize</key>
                <string>{318,18}</string>
            </dict>
            <key>ygyy_wanjianqifa_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,196},{220,8}}</string>
                <key>offset</key>
                <string>{43,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,3},{220,8}}</string>
                <key>sourceSize</key>
                <string>{318,18}</string>
            </dict>
            <key>ygyy_wanjianqifa_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,186},{220,8}}</string>
                <key>offset</key>
                <string>{42,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,3},{220,8}}</string>
                <key>sourceSize</key>
                <string>{318,18}</string>
            </dict>
            <key>ygyy_wanjianqifa_jifa0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{182,130}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{182,130}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>ygyy_wanjianqifa_jifa0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,128}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{192,128}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>ygyy_wanjianqifa_jifa0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{152,126}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{152,126}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>ygyy_wanjianqifa_jifa0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{150,128}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{150,128}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>ygyy_wanjianqifa_jifa0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{164,136}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,136}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{690,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aadbf26a3abfe151d8b27715deff587b:d3fd13cd32fcb41bff9bb8f89473f8e0:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
