<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baigu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>baigu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>baigu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,48},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>baigu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>baigu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>baigu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,43},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>baigu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>baigu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,54},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>baigu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>baigu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,16},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>baigu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,41},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>baigu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,39},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>baigu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,26},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>baigu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,39},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>baigu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,48},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>baigu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,25},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>baigu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,48},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>baigu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,36},{10,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,26}}</string>
                <key>sourceSize</key>
                <string>{10,26}</string>
            </dict>
            <key>baigu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,36},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>baigu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,34},{8,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,23}}</string>
                <key>sourceSize</key>
                <string>{8,23}</string>
            </dict>
            <key>baigu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{106,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,39}}</string>
                <key>sourceSize</key>
                <string>{106,39}</string>
            </dict>
            <key>baigu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,47},{37,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,15}}</string>
                <key>sourceSize</key>
                <string>{37,15}</string>
            </dict>
            <key>baigu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>baigu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>baigu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,48},{38,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,13}}</string>
                <key>sourceSize</key>
                <string>{38,13}</string>
            </dict>
            <key>baigu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>baigu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>baigu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,41},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>baigu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{35,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,11}}</string>
                <key>sourceSize</key>
                <string>{35,11}</string>
            </dict>
            <key>baigu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{16,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{16,38}</string>
            </dict>
            <key>baigu_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,40},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>baigu_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>baigu_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,43},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>baigu_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,36},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>baigu_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,15},{8,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,22}}</string>
                <key>sourceSize</key>
                <string>{8,22}</string>
            </dict>
            <key>baigu_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,36},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>baigu_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>baigu_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,43},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>baigu_zidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{42,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,5}}</string>
                <key>sourceSize</key>
                <string>{42,5}</string>
            </dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_baigu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>up_baigu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,54},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>up_baigu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,42},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>up_baigu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,39},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>up_baigu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,48},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>up_baigu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,39},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>up_baigu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,40},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>up_baigu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{107,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,44}}</string>
                <key>sourceSize</key>
                <string>{107,44}</string>
            </dict>
            <key>up_baigu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{37,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,15}}</string>
                <key>sourceSize</key>
                <string>{37,15}</string>
            </dict>
            <key>up_baigu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,39},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>up_baigu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,44},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>up_baigu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{37,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,13}}</string>
                <key>sourceSize</key>
                <string>{37,13}</string>
            </dict>
            <key>up_baigu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>up_baigu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{37,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,12}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
            <key>up_baigu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{35,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,11}}</string>
                <key>sourceSize</key>
                <string>{35,11}</string>
            </dict>
            <key>up_baigu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,48},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>up_baigu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,31},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>up_baigu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>up_baigu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,45},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{778,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:407fbb6c5b20ed16a9356f61ec930a98:1c93119e8e165679df53ba7a6a9a65b3:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
