<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhssj_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{156,38}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{156,44}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,48},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{156,44}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,60},{176,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{176,44}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{188,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{188,48}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{194,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{194,54}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{196,56}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>hhssj_a_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{196,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{196,56}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{726,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ff2ab090db0cbbbeb3ed2ed7a538a6:513e4f519e57fca0e840e8bfafb66e85:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
