<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baigu_gongxian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,304},{23,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{23,194}}</string>
                <key>sourceSize</key>
                <string>{33,198}</string>
            </dict>
            <key>baigu_gongxian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,304},{23,194}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{23,194}}</string>
                <key>sourceSize</key>
                <string>{33,198}</string>
            </dict>
            <key>baigu_gongxian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,304},{13,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{13,194}}</string>
                <key>sourceSize</key>
                <string>{33,198}</string>
            </dict>
            <key>baigu_gongxian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,304},{11,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{11,194}}</string>
                <key>sourceSize</key>
                <string>{33,198}</string>
            </dict>
            <key>baigu_skilla_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,226},{68,44}}</string>
                <key>offset</key>
                <string>{40,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,171},{68,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,613},{126,252}}</string>
                <key>offset</key>
                <string>{35,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,7},{126,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,317},{128,246}}</string>
                <key>offset</key>
                <string>{30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,12},{128,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{102,246}}</string>
                <key>offset</key>
                <string>{25,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,47},{102,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,631},{108,238}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,49},{108,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,226},{82,200}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,50},{82,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,310},{82,200}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,50},{82,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{82,200}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,50},{82,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,319},{292,224}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,37},{292,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{300,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{300,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{300,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{300,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{300,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{300,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,329},{300,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{300,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{300,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{300,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,394},{226,220}}</string>
                <key>offset</key>
                <string>{-32,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,34},{226,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_a_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{222,218}}</string>
                <key>offset</key>
                <string>{-34,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,37},{222,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baigu_skilla_zhixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{332,12}}</string>
                <key>sourceSize</key>
                <string>{360,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1020,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e69139f01ac1c08b6179f9e23ab3efde:f712bad4ee6fa4dd76a5a941d43a7cbd:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
