<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodanjida_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{48,46}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>baodanjida_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{24,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{24,26}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>baodanjida_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{28,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{28,30}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>baodanjida_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{30,38}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{30,38}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>baodanjida_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{32,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{32,42}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>baodanjida_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,28},{20,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{20,22}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{176,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87971993b8436aeed45c83ebe008d4b5:fdc65b21e16c89c47ab586ced1d68690:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
