<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xr_a1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,101},{47,171}}</string>
                <key>offset</key>
                <string>{-6,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{47,171}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,185},{65,391}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,3},{65,391}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{97,351}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,50},{97,351}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{121,181}}</string>
                <key>offset</key>
                <string>{-6,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,219},{121,181}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,185}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,211},{107,185}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,101},{107,73}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,316},{107,73}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{109,57}}</string>
                <key>offset</key>
                <string>{1,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,326},{109,57}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_a1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,101},{51,57}}</string>
                <key>offset</key>
                <string>{-4,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,325},{51,57}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{587,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9a533ecb7d09a5309ad64d1756439d3:01057446e9f9a98bc9dab62800774e1a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
