<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jnsj_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,85},{21,70}}</string>
                <key>offset</key>
                <string>{86,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,32},{21,70}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{81,74}}</string>
                <key>offset</key>
                <string>{59,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,30},{81,74}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{137,76}}</string>
                <key>offset</key>
                <string>{31,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{137,76}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{171,76}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{171,76}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{157,76}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{157,76}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,84}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{107,84}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{87,90}}</string>
                <key>offset</key>
                <string>{-49,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{87,90}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{91,92}}</string>
                <key>offset</key>
                <string>{-48,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{91,92}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{95,94}}</string>
                <key>offset</key>
                <string>{-48,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{95,94}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>jnsj_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{105,94}}</string>
                <key>offset</key>
                <string>{-50,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,94}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1009,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b101cc5b3dfe72cc67303a5a20ba5b27:33bc9600a5b46478ad58c3ff2921a6ff:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
