<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>master_fd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{68,67}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>master_fd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{68,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{68,67}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{140,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f27879bbed0c0b17490cc1f37197eb2:567b1a42dbb5dea56b41da0d40efc1db:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
