<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yf_dzc_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{383,182}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{383,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,182}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{385,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{385,182}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{385,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{385,182}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{385,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,186},{385,182}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{385,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{385,180}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{385,180}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,370},{385,180}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{385,180}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,552},{383,180}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{383,180}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{383,180}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{383,180}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,389},{383,182}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{383,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{383,182}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{383,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,734},{383,180}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{383,180}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
            <key>yf_dzc_a_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{383,182}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{383,182}}</string>
                <key>sourceSize</key>
                <string>{407,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{958,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e24075021bc0aaf99d03b371ce7ccbf5:cd1687384ed6952b00a2ac504ea5ef9c:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
