<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ybhm_bullet_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{33,32}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{55,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{55,52}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,74},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{59,60}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,208},{61,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{61,64}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,140},{61,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{61,66}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{61,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{61,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{63,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{59,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>ybhm_bullet_hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{63,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{63,66}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{128,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ca6198dedab88c11892bc8f55bb4ddf:d337410864a3aa5623563cdf6ca73b6c:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
