<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diedikuangchui0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,166},{397,160}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{397,160}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{405,162}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,162}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{415,162}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,162}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,565},{405,162}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,162}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{409,162}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,162}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{413,162}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,162}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,162}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,162}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
            <key>diedikuangchui0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{421,158}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{421,158}}</string>
                <key>sourceSize</key>
                <string>{429,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{587,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba607d833319952b15c621f6c8815caf:118a1f6a5783cac68b3bc6f2956c1c1e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
