<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busigui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{14,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,67}}</string>
                <key>sourceSize</key>
                <string>{14,67}</string>
            </dict>
            <key>busigui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,228},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>busigui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,227},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>busigui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>busigui_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,265},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>busigui_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,38},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>busigui_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,424},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>busigui_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,456},{34,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,13}}</string>
                <key>sourceSize</key>
                <string>{34,13}</string>
            </dict>
            <key>busigui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,70},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>busigui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,110},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>busigui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,365},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>busigui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,481},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>busigui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,323},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>busigui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,396},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>busigui_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,456},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>busigui_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,453},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>busigui_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>busigui_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,346},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>busigui_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>busigui_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,426},{13,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,38}}</string>
                <key>sourceSize</key>
                <string>{13,38}</string>
            </dict>
            <key>busigui_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,299},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>busigui_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>busigui_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,278},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>busigui_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>busigui_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,393},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>busigui_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>busigui_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,492},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>busigui_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,365},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>busigui_winnn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_busigui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{14,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,67}}</string>
                <key>sourceSize</key>
                <string>{14,67}</string>
            </dict>
            <key>up_busigui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,149},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>up_busigui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>up_busigui_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,294},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>up_busigui_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,449},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>up_busigui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,188},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>up_busigui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>up_busigui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>up_busigui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>up_busigui_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,481},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>up_busigui_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,441},{13,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,37}}</string>
                <key>sourceSize</key>
                <string>{13,37}</string>
            </dict>
            <key>up_busigui_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,456},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>up_busigui_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,20},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>up_busigui_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,256},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>up_busigui_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>up_busigui_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,315},{29,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,14}}</string>
                <key>sourceSize</key>
                <string>{29,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{117,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158ae07fe9de4ae4b246add7b1e4737b:93f4e5fc628dcffb1b5b633469e87e51:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
