<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bamen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,228},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bamen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,207},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>bamen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,206},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>bamen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,228},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>bamen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>bamen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,86},{23,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,59}}</string>
                <key>sourceSize</key>
                <string>{23,59}</string>
            </dict>
            <key>bamen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,178},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>bamen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,178},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>bamen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,155},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>bamen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>bamen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>bamen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,77},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>bamen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,169},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>bamen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,158},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bamen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,190},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>bamen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,194},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>bamen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,116},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>bamen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,238},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>bamen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,228},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>bamen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,104},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>bamen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,235},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>bamen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,235},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bamen_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,235},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>bamen_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,172},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bamen_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,217},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>bamen_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,153},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>bamen_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,230},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>bamen_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>bamen_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>bamen_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,161},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>bamen_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,123},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>bamen_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,191},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_bamen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,228},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>up_bamen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,221},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>up_bamen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,222},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>up_bamen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,123},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>up_bamen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,86},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>up_bamen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,86},{24,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,59}}</string>
                <key>sourceSize</key>
                <string>{24,59}</string>
            </dict>
            <key>up_bamen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,201},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>up_bamen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,155},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>up_bamen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,147},{20,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>up_bamen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,122},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>up_bamen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,191},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>up_bamen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,77},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>up_bamen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,77},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>up_bamen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,201},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>up_bamen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,193},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>up_bamen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,191},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>up_bamen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,178},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>up_bamen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>up_bamen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,235},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>up_bamen_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{196,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,85}}</string>
                <key>sourceSize</key>
                <string>{196,85}</string>
            </dict>
            <key>up_bamen_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,191},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>up_bamen_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,228},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>up_bamen_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,161},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>up_bamen_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,161},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{504,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252ad3c637c4a0d3031f46fe703edb97:df92c7f870fc84213b3d20d91cfc3c7d:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
