<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{85,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>boss_gui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,858},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,18}</string>
            </dict>
            <key>boss_gui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,880},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>boss_gui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,287},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>boss_gui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,186},{197,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,54}}</string>
                <key>sourceSize</key>
                <string>{197,54}</string>
            </dict>
            <key>boss_gui_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,242},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>boss_gui_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,852},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>boss_gui_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,880},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>boss_gui_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,880},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>boss_gui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,334},{296,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,103}}</string>
                <key>sourceSize</key>
                <string>{296,103}</string>
            </dict>
            <key>boss_gui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>boss_gui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,412},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>boss_gui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,547},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>boss_gui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,444},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>boss_gui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,364},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>boss_gui_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,756},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>boss_gui_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,223},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>boss_gui_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,648},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>boss_gui_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,703},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>boss_gui_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,937},{56,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,41}}</string>
                <key>sourceSize</key>
                <string>{56,41}</string>
            </dict>
            <key>boss_gui_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,813},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>boss_gui_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,944},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>boss_gui_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,776},{113,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,35}}</string>
                <key>sourceSize</key>
                <string>{113,35}</string>
            </dict>
            <key>boss_gui_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{356,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{356,83}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,87}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{356,87}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{354,89}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{354,89}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{350,95}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{350,95}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{330,95}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{330,95}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{318,93}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{318,93}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{290,79}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{290,79}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,83},{278,43}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{278,43}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>boss_gui_sb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,400},{14,10}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{14,10}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,689},{28,12}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{28,12}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,633},{40,14}}</string>
                <key>offset</key>
                <string>{-17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,14}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,828},{52,22}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,22}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,937},{66,34}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{66,34}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,937},{70,40}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{70,40}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,880},{62,54}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{62,54}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,880},{52,60}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{52,60}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,575},{40,56}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{40,56}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,649},{32,50}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,16},{32,50}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,481},{20,36}}</string>
                <key>offset</key>
                <string>{28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,30},{20,36}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,519},{12,26}}</string>
                <key>offset</key>
                <string>{31,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{12,26}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,556},{12,16}}</string>
                <key>offset</key>
                <string>{31,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{12,16}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>boss_gui_sb_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,689},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bossgui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,689},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>bossgui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,980},{96,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,39}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>bossgui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,813},{86,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>gui_dazhaoxuli_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,946},{86,69}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{86,69}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,707},{88,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{88,55}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,128},{88,93}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,93}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,689},{86,85}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,942},{84,77}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,939},{94,79}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,858},{74,77}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{74,77}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,737},{68,89}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{68,89}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>gui_dazhaoxuli_bao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,764},{117,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>gui_dazhaoxuli_bao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{117,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>gui_dazhaoxuli_bao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{117,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>gui_dazhaoxuli_bao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,648},{123,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{123,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>gui_dazhaoxuli_bao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,764},{113,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>gui_xuanfeng0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,597},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>gui_xuanfeng0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,597},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>gui_xuanfeng0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,556},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>gui_xuanfeng0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>gui_xuanfeng0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,242},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>js_dz_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,439},{300,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,156}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>qianbingweiyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,979},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_boss_gui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,128},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{652,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1457a69d24b3a66d6495d4e33dabd5c6$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
