<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgys_xzb_bbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,310},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>erfa_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,407},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>huaban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>huaguduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,233},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>huaguduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,282},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>huazhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,82},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>mantuo_gupen.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,431},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>mantuoluoyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>qunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,385},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,133},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,257},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,355},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,38}</string>
            </dict>
            <key>toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>toushangyezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,133},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>toushangyezhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>toushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,260},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>up_erfa_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,376},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>up_huazhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>up_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>up_qunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,233},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>up_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,23},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,38}</string>
            </dict>
            <key>up_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,83}}</string>
                <key>sourceSize</key>
                <string>{63,83}</string>
            </dict>
            <key>up_toushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,167},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>up_zuoerfa_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,351},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>xiongkuo_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,425},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>yaodai_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,158},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>yezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,398},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>youdatui_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,407},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>youjiao_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,443},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>youshanggebu.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,442},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>youshouxiabi_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,370},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>youxiaotui_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,376},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>zuodatui_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,431},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>zuoerfa_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,331},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>zuoshou_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,419},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>zuoshoumuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,158},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>zuoshoushangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>zuoshouxiabi_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,63},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>zuoshouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,434},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>zuoxiaotui_mantuoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,310},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{126,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05a4f15a4edbaa7ac40ee03b8ff176c2:a182ef811b6bd924c4f75ddbfb95f0f5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
