<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengshilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,689},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>jiuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,880},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>rencilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,810},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>renhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{66,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,119}}</string>
                <key>sourceSize</key>
                <string>{66,119}</string>
            </dict>
            <key>xr_c_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{47,171}}</string>
                <key>offset</key>
                <string>{-6,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{47,171}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{65,391}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,3},{65,391}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,351}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{97,351}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,395},{121,181}}</string>
                <key>offset</key>
                <string>{-6,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,219},{121,181}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{107,185}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,211},{107,185}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{107,73}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,316},{107,73}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,578},{109,57}}</string>
                <key>offset</key>
                <string>{1,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,326},{109,57}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
            <key>xr_c_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,757},{51,57}}</string>
                <key>offset</key>
                <string>{-4,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,325},{51,57}}</string>
                <key>sourceSize</key>
                <string>{153,403}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{178,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8fc2829beacf978d6306cbe5b4336c4:f1c962fde7c51bfd8696c73e327f8788:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
