<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfxc_xz_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{68,70}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{64,54}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{64,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{60,72}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{56,68}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{56,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{52,58}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{52,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{34,38}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{34,38}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{512,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e082ab3f36a8def8f345605420c1e535:41447e02b6be8dfe8c168553bb84218f:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
