<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmz_dz_b_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,661},{23,24}}</string>
                <key>offset</key>
                <string>{-14,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,84},{23,24}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{25,26}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,77},{25,26}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{27,26}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,71},{27,26}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{27,28}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{27,28}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{45,44}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,58},{45,44}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{47,44}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,50},{47,44}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{47,40}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,45},{47,40}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{51,70}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{51,70}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{51,72}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{51,72}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{33,70}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{33,70}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{33,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{33,74}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{33,76}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{33,76}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,80}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{33,80}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{27,28}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{27,28}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{27,26}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{27,26}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>dmz_dz_b_00113.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,687},{23,24}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,39},{23,24}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{55,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1bfcc6935e78118c81f6e8e3c659cc4:7cbf5226a3846ae30a1236dd34b3a13b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
