<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{145,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{145,144}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,144}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{149,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{149,146}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,148},{149,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{149,146}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,144}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,144}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,144}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{149,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{149,146}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,144}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,296},{147,148}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{147,148}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{147,150}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{147,150}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,296},{147,148}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{147,148}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,296},{147,150}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{147,150}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,296},{147,148}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{147,148}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,148},{147,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,146}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>qrlb_c_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,148},{147,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{147,146}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{894,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7430a7b0c0be054f9bead6d1876f4dad:11778b1cce572c16857ff53d627fe7ca:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
