<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhsjn_a1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hhsjn_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{162,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d9dcf06333c4cddf34d9eb4b400537b:c7f79007e6c9c803ecd7cf44d12c928e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
