<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,65},{103,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,35}}</string>
                <key>sourceSize</key>
                <string>{103,35}</string>
            </dict>
            <key>erfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,81},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>ew_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,198},{56,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,68}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>ew_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,198},{50,56}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>ew_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,210},{56,26}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>jianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,200},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>mianju.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,102},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>renhaung.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,218},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>renhaung_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{82,43}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{82,43}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{102,61}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{102,61}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{120,63}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,63}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{124,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{124,61}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{126,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,59}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{116,53}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{116,53}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,166},{34,31}}</string>
                <key>offset</key>
                <string>{43,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>renhaung_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,198},{77,56}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{77,56}}</string>
                <key>sourceSize</key>
                <string>{95,62}</string>
            </dict>
            <key>renhaung_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,197},{71,54}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{71,54}}</string>
                <key>sourceSize</key>
                <string>{95,62}</string>
            </dict>
            <key>renhaung_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,86},{61,52}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{61,52}}</string>
                <key>sourceSize</key>
                <string>{95,62}</string>
            </dict>
            <key>renhaung_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,65},{64,96}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{64,96}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,86},{82,72}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{82,72}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,167},{82,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{82,62}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,160},{62,48}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{62,48}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,166},{32,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,37},{32,30}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d14.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,169},{26,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{26,24}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,67},{84,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{84,98}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,102},{90,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{90,94}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,57},{80,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{80,90}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,131},{64,92}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhaung_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{100,82}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{100,82}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>renhuang_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,210},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>renhuang_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,243},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>renhuang_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,208},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>renhuang_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,160},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>renhuang_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,238},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>renhuang_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,167},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>toufa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,149},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>toufa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>toufa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,65},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>toufa04.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,140},{66,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,24}}</string>
                <key>sourceSize</key>
                <string>{66,24}</string>
            </dict>
            <key>up_renhuang_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,65},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>up_renhuang_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,106},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>up_renhuang_mianju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>up_renhuang_xiongkuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,197},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>up_renhuang_yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,114},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>up_renhuang_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,137},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>up_renhuang_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,243},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>up_renhuang_youshoushangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,238},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>up_renhuang_youshouxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,187},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>up_renhuang_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,208},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>up_renhuang_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,227},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>up_renhuang_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,238},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>up_renhuang_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,238},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>up_renhuang_zuoshouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,227},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>up_renhuang_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,86},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>xiongkuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,200},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,67},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>youerfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,149},{5,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,16}}</string>
                <key>sourceSize</key>
                <string>{5,16}</string>
            </dict>
            <key>youshoushangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,90},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>youshouxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,234},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>youshouzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,67},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>zuorefa.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,90},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,242},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>zuoshouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,225},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>zuoshouzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,242},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{711,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b216fc25d17dc5ce5e412b00e11f78:b56cdb92db974f2a8c5d6d122aeb7c79:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
