<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghqbw_dz_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{60,32}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{60,32}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{100,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{100,76}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,82}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{100,84}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,186},{98,54}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{98,54}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,126},{106,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{106,58}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,66},{114,58}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{114,58}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>ghqbw_dz_a_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{114,62}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{238,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea094563a229d8797b9a76e26bf1b376:e518fc9500641a224a330cd6e85ac0a5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
