<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxhz_pzsl_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{234,52}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,64},{234,52}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
            <key>yxhz_pzsl_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,190}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
            <key>yxhz_pzsl_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{484,190}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{484,190}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
            <key>yxhz_pzsl_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{460,190}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{460,190}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
            <key>yxhz_pzsl_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,56},{296,84}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{296,84}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
            <key>yxhz_pzsl_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,56},{296,84}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{296,84}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
            <key>yxhz_pzsl_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,56},{286,76}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,52},{286,76}}</string>
                <key>sourceSize</key>
                <string>{502,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{828,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:292ddc41d669775e4573d2771ebc0495:c54ffda5d015e7f26404aa07879211c2:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
