<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_sjs_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,120}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ui_sjs_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{140,74}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,47},{140,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ui_sjs_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{142,78}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{142,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{430,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6f111e7ca944f1ae45ce85481905c15:4dbb8cc35c23750bd89b2215ad5881f5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
