<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qzmy_dz_a_00001_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,423}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,423}}</string>
                <key>sourceSize</key>
                <string>{73,427}</string>
            </dict>
            <key>qzmy_dz_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,360},{143,83}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,154},{143,83}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{249,163}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,80},{249,163}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{225,179}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,67},{225,179}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,183},{219,175}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,71},{219,175}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,167},{231,175}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,73},{231,175}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,183},{217,175}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,70},{217,175}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,344},{199,147}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,95},{199,147}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{149,143}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,95},{149,143}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
            <key>qzmy_dz_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,360},{105,117}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,108},{105,117}}</string>
                <key>sourceSize</key>
                <string>{323,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{708,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95cc67aa52a5f920a65c1e239f07871:57d64c1b18656d4637e4517c7a109cbb:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
