<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_zhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,235},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>up_zhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,232},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>up_zhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,283},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>up_zhu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,202},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>up_zhu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,352},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>up_zhu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>up_zhu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,333},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>up_zhu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,194},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>up_zhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,219},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>up_zhu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,299},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>up_zhu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,404},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>up_zhumei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,330},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>up_zhumei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,99},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>up_zhumei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,316},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>up_zhumei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,270},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>up_zhumei_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,382},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>up_zhumei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,181},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>up_zhumei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,291},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>up_zhumei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>up_zhumei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,251},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>up_zhumei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{41,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,67}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>up_zhumei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,134},{27,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,66}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>zhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,197},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>zhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,387},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>zhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,312},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>zhu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,267},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>zhu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,232},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>zhu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,252},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>zhu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>zhu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,352},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>zhu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,213},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>zhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,248},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>zhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,404},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>zhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,387},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>zhu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,352},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>zhu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,419},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>zhu_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,299},{19,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,11}}</string>
                <key>sourceSize</key>
                <string>{19,11}</string>
            </dict>
            <key>zhu_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,313},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>zhumei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,371},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>zhumei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,134},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>zhumei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,334},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>zhumei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,231},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>zhumei_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,197},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>zhumei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,167},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>zhumei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,330},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>zhumei_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,99},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>zhumei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,202},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>zhumei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,352},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>zhumei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,218},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>zhumei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,291},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>zhumei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,267},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>zhumei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,404},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>zhumei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,371},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>zhumei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,270},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>zhumei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{41,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,67}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>zhumei_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>zhumei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{27,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,66}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>zhumei_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,304},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>zhumei_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,151},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>zhumei_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,176},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>zhumei_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,127},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>zstz_fd_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,54},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{128,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123076e8ae5ae2c088ae4d08d21dbe8c:655692f28e7cdb0644c66892965146bc:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
