<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{21,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,53}}</string>
                <key>sourceSize</key>
                <string>{21,53}</string>
            </dict>
            <key>guai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,69},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>guai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>guai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,141},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>guai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,187},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>guai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,107},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>guai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,107},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>guai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,153},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>guai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,117},{17,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,65}}</string>
                <key>sourceSize</key>
                <string>{17,65}</string>
            </dict>
            <key>guai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,139},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>guai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,176},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>guai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,65},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>guai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,36},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>guai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,87},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>guai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,155},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>guai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,90},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>guai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,117},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>guai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>guai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,187},{23,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>guai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>guai_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,127},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>shsz_pg_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,25},{42,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{42,50}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>shsz_pg_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,117},{68,60}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>shsz_pg_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,153},{78,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>shsz_pg_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,139},{72,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{72,44}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>shsz_xzb_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{113,105}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,56},{113,105}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>shsz_xzb_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{139,145}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{139,145}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>shsz_xzb_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{149,145}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{149,145}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>shsz_xzb_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,139}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{155,139}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>shsz_xzb_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{151,111}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{151,111}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>shsz_xzb_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{143,57}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,38},{143,57}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>shsz_xzd_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,155},{39,54}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,8},{39,54}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,159},{57,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,13},{57,50}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,141},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,19},{33,36}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,177},{33,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,21},{33,34}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,165},{35,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,17},{35,38}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,50},{35,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,15},{35,40}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,149},{67,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{67,62}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,149},{117,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{117,60}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{119,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{119,52}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>shsz_xzd_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{123,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{123,42}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1016,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a752f040958027526a34387bef2830b:6bf84a37ccc0ad775069fe5063647e89:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
