<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qrlb_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,870},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{139,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,288},{137,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{137,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{145,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{145,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{141,145}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{141,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,145},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{139,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{145,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{145,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,582},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,725},{143,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{143,139}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,147},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,437},{141,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{141,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_a_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,292},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qrlb_b_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,833},{32,62}}</string>
                <key>offset</key>
                <string>{-40,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{32,62}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,288},{58,104}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,104}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,545},{86,112}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,887},{108,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,874},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,431},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,545},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,659},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,773},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,431},{96,112}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,725},{70,106}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qrlb_b_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,145},{44,70}}</string>
                <key>offset</key>
                <string>{34,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{502,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:757aa56ea902e2912aebd3d10abc3919:d388c4287c382577a768a0d3e7074ed8:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
