<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>power1_max_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power1_max_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>power2_max_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,102},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1022,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae56719ea11b061369c85cc62630ab9:28151c5ddf000b523c6f59847f4b3564:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
