<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smr_xza_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,266},{85,83}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,83}}</string>
                <key>sourceSize</key>
                <string>{119,129}</string>
            </dict>
            <key>smr_xza_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,257},{83,87}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{119,129}</string>
            </dict>
            <key>smr_xza_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,342},{83,85}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{119,129}</string>
            </dict>
            <key>smr_xza_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,351},{79,79}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{79,79}}</string>
                <key>sourceSize</key>
                <string>{119,129}</string>
            </dict>
            <key>smr_xza_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{57,59}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{57,59}}</string>
                <key>sourceSize</key>
                <string>{119,129}</string>
            </dict>
            <key>smr_xza_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,231},{16,20}}</string>
                <key>offset</key>
                <string>{9,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,125},{16,20}}</string>
                <key>sourceSize</key>
                <string>{78,148}</string>
            </dict>
            <key>smr_xza_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,215},{14,38}}</string>
                <key>offset</key>
                <string>{-31,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{14,38}}</string>
                <key>sourceSize</key>
                <string>{78,148}</string>
            </dict>
            <key>smr_xza_b_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>sourceSize</key>
                <string>{145,187}</string>
            </dict>
            <key>smr_xza_b_222.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,149},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>smr_xza_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,92},{58,60}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,86},{58,60}}</string>
                <key>sourceSize</key>
                <string>{78,148}</string>
            </dict>
            <key>smr_xza_b_333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{106,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,139}}</string>
                <key>sourceSize</key>
                <string>{106,139}</string>
            </dict>
            <key>smr_xza_b_444.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,185},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>smr_xza_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{58,88}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,59},{58,88}}</string>
                <key>sourceSize</key>
                <string>{78,148}</string>
            </dict>
            <key>smr_xza_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,152},{66,112}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{66,112}}</string>
                <key>sourceSize</key>
                <string>{78,148}</string>
            </dict>
            <key>smr_xza_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{72,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{72,102}}</string>
                <key>sourceSize</key>
                <string>{78,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{253,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fcf30002392c6f0dc37b583dda54e0a:4522573a6ab1083104b505675201af73:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
