<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanshensi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,834},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>huanshensi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,555},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>huanshensi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,642},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>huanshensi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,427},{24,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,7}}</string>
                <key>sourceSize</key>
                <string>{24,7}</string>
            </dict>
            <key>huanshensi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,914},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>huanshensi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,927},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>huanshensi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1002},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>huanshensi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,709},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>huanshensi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,709},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>huanshensi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,279},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>huanshensi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,709},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>huanshensi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,982},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>huanshensi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,489},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>huanshensi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,836},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>huanshensi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,927},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>huanshensi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1002},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>huanshensi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,790},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>huanshensi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,953},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>huanshensi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,993},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>huanshensi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,873},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>huanshensi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,953},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>huanshensi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,290},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>huanshensi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,642},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>huanshensi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1002},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>huanshensi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1002},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>huanshensi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,775},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>huanshensi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,808},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>huanshensi_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,873},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>huanshensi_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,834},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>huanshensi_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,836},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>huanshensi_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,900},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>huanshensishadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{126,125}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{126,125}}</string>
                <key>sourceSize</key>
                <string>{130,153}</string>
            </dict>
            <key>huanshensiyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,500},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>huansss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,770},{47,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{47,45}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>huansss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,580},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,52}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>huansss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,635},{54,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,50}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>huansss_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,703},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>huansss_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,314},{52,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>huansss_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,378},{47,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>huansss_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,427},{42,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>huansss_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,775},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>huansss_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,580},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>thunder_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,873},{28,39}}</string>
                <key>offset</key>
                <string>{-47,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,130},{28,39}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,573},{76,67}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,104},{76,67}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,130},{104,101}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,70},{104,101}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,314},{108,111}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{108,111}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,129}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{124,129}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,873},{106,127}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{106,127}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{82,141}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{82,141}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{82,155}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,15},{82,155}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{76,153}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,16},{76,153}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{60,151}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,18},{60,151}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,732},{56,139}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{56,139}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,500},{84,71}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,84},{84,71}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,133},{144,61}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,103},{144,61}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{142,75}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,94},{142,75}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{136,73}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,96},{136,73}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,427},{120,71}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,98},{120,71}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>thunder_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,233},{98,79}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,91},{98,79}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>up_huanshensi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,489},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>up_huanshensi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,511},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>up_huanshensi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,954},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>up_huanshensi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,709},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>up_huanshensi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1002},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>up_huanshensi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,759},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>up_huanshensi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,819},{26,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,52}}</string>
                <key>sourceSize</key>
                <string>{26,52}</string>
            </dict>
            <key>up_huanshensi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,759},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>up_huanshensi_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,279},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{255,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:875cc02f638a34ec7015d127eb579992:c1a85e803d37a103df819e35c8cfb722:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
