<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_pb_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,216},{306,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{306,103}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{306,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{304,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,109},{304,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,216},{304,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,323},{302,105}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{302,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,323},{300,105}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{306,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{306,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{306,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>cj_pb_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,109},{306,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{924,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a82133da4218e031e85c8741a6427900:49ed62647046caa0a2912f6905719d66:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
