<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuangyin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,444},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>kuangyin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,204},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>kuangyin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,525},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>kuangyin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,894},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>kuangyin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,407},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>kuangyin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,501},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>kuangyin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,920},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>kuangyin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,793},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>kuangyin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,948},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>kuangyin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,363},{41,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>kuangyin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,318},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>kuangyin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,682},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>kuangyin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,329},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>kuangyin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,756},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>kuangyin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,983},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>kuangyin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,214},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>kuangyin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,492},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>kuangyin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,186},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>kuangyin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,144},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>kuangyin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,756},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>kuangyin_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>kuangyin_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,846},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>kuangyin_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>kuangyin_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,718},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>kuangyin_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,769},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>kuangyin_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>kuangyin_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,846},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>kuangyin_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>kuangyin_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>kuangyin_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,951},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>kuangyin_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,792},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>kuangyin_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,828},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>kuangyin_e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>kuangyin_e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>kuangyin_e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,862},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>kuangyin_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{105,79}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>kuangyin_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{103,75}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>kuangyin_g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{97,71}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{97,71}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>kuangyin_g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{91,61}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{91,61}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>kuangyin_g6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{87,49}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{87,49}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>kuangyin_g7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,406},{41,31}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,23},{41,31}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>kuangyin_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,719},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>kuangyin_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,585},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>ky_xzb_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,270},{46,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,39},{46,29}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>ky_xzb_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{140,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{140,57}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>ky_xzb_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{148,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{148,61}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>ky_xzb_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{150,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{150,61}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>ky_xzb_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{172,69}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>ky_xzb_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{168,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{168,69}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>up_kuangyin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,682},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>up_kuangyin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>up_kuangyin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,622},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>up_kuangyin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,911},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>up_kuangyin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,874},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>up_kuangyin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,894},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>up_kuangyin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,819},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>up_kuangyin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,938},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>up_kuangyin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,449},{41,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>up_kuangyin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,674},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>up_kuangyin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,700},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>up_kuangyin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,368},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>up_kuangyin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,718},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>up_kuangyin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,983},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>up_kuangyin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,242},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>up_kuangyin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,887},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>up_kuangyin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,160},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{176,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd7e1f844c97be0884014cc563d228e:323116a74e840593238a8e54f2b4488d:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
