<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_artifact0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,264},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,134},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,264},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,134},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,264},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,134},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,264},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,134},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>ui_artifact_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,260}}</string>
                <key>sourceSize</key>
                <string>{270,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{924,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1578b766bf26ccdd826d0157d2f081d4:4761e91862be15deb736708b1cb33d5b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
