<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liebozhan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{254,62}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{254,62}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{278,104}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,64},{278,104}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{296,228}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{296,228}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{304,228}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{216,206}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{216,206}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{146,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,58},{146,112}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,856},{144,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,61},{144,110}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,632},{142,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{142,84}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,776},{78,78}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,74},{78,78}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
            <key>liebozhan0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,856},{62,50}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,86},{62,50}}</string>
                <key>sourceSize</key>
                <string>{330,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{308,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581b21587d0acec7d3c6dcb12afda15e:cfe345c45f58d8c4145f013306d26bde:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
