<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,210}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,210}}</string>
                <key>sourceSize</key>
                <string>{120,210}</string>
            </dict>
            <key>jiuhuangzuofx_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{90,63}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,66},{90,63}}</string>
                <key>sourceSize</key>
                <string>{114,135}</string>
            </dict>
            <key>jiuhuangzuofx_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,87}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{106,87}}</string>
                <key>sourceSize</key>
                <string>{114,135}</string>
            </dict>
            <key>jiuhuangzuofx_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{110,107}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{110,107}}</string>
                <key>sourceSize</key>
                <string>{114,135}</string>
            </dict>
            <key>jiuhuangzuofx_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{114,73}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{114,73}}</string>
                <key>sourceSize</key>
                <string>{114,135}</string>
            </dict>
            <key>jiuhuangzuofx_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{114,73}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{114,73}}</string>
                <key>sourceSize</key>
                <string>{114,135}</string>
            </dict>
            <key>liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,647},{108,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,42}}</string>
                <key>sourceSize</key>
                <string>{108,42}</string>
            </dict>
            <key>shitou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,739},{10,10}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{10,10}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{30,18}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{30,18}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,795},{48,42}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{48,42}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,757},{56,36}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{56,36}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,573},{68,22}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,44},{68,22}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{76,40}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,45},{76,40}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,415},{74,32}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,46},{74,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>shitou0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,491},{80,22}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,56},{80,22}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{111,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41944b2caa3a17c720cc95cc5deb6550:ea21dae48f1c55648cda1643a4232940:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
