<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sm_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,101},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>boss_sm_a_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{129,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,174}}</string>
                <key>sourceSize</key>
                <string>{129,174}</string>
            </dict>
            <key>boss_sm_a_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,178},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>boss_sm_a_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,151},{103,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,86}}</string>
                <key>sourceSize</key>
                <string>{103,94}</string>
            </dict>
            <key>boss_sm_a_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{48,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>boss_sm_a_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{63,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>boss_sm_a_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{162,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,115}}</string>
                <key>sourceSize</key>
                <string>{162,115}</string>
            </dict>
            <key>boss_sm_a_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>boss_sm_a_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,160}</string>
            </dict>
            <key>boss_sm_a_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,133},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>boss_sm_a_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{121,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,147}}</string>
                <key>sourceSize</key>
                <string>{121,147}</string>
            </dict>
            <key>boss_sm_a_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{110,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,144}}</string>
                <key>sourceSize</key>
                <string>{110,144}</string>
            </dict>
            <key>boss_sm_a_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,149},{45,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,88}}</string>
                <key>sourceSize</key>
                <string>{45,88}</string>
            </dict>
            <key>boss_sm_a_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,106},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>boss_sm_a_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,232},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>boss_sm_a_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,178},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>boss_sm_a_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,178},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>boss_sm_a_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,244},{17,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,9}}</string>
                <key>sourceSize</key>
                <string>{17,9}</string>
            </dict>
            <key>boss_sm_a_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,106},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>boss_sm_a_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,244},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>boss_sm_a_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,166},{9,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>boss_sm_a_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,190},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>boss_sm_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,145},{68,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
            <key>boss_sm_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,87},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>boss_sm_a_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,178},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>sm_pugong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,166},{92,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{100,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,151},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,151},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,148},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,140},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sm_pugong_liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,36}}</string>
                <key>sourceSize</key>
                <string>{210,36}</string>
            </dict>
            <key>sm_std_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,106},{25,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,56}}</string>
                <key>sourceSize</key>
                <string>{25,56}</string>
            </dict>
            <key>sm_std_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,106},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>sm_std_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,106},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>sm_std_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,232},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1011,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:869636afc95f0fda8b4133114f34ec2b:98ea5ad9b60e40345978629cd3a428df:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
