<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhahuoxing0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,802},{88,67}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,26},{88,67}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{116,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{116,155}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,556},{76,169}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{76,169}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{82,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{82,175}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,505},{132,113}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{132,113}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{162,129}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,30},{162,129}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,434},{142,69}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,61},{142,69}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,153}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{180,153}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,166},{128,91}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,51},{128,91}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{122,101}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,50},{122,101}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,884},{112,113}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{112,113}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhahuoxing0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,802},{96,85}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,49},{96,85}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>baozhayanwu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,900},{97,101}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{109,173}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{109,173}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{107,169}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{107,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{175,113}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{175,113}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,117},{175,113}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{175,113}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{173,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{173,105}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,232},{161,173}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{161,173}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>baozhayanwu0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,395},{159,169}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{159,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>blue_hhs_ceng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{91,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,28}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>blue_hhs_ceng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,620},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blue_hhs_ceng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,931},{130,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,44}</string>
            </dict>
            <key>blue_hhs_ceng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>blue_hhs_ceng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,259},{42,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,136}}</string>
                <key>sourceSize</key>
                <string>{42,136}</string>
            </dict>
            <key>blue_hhs_ceng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,303},{41,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,136}}</string>
                <key>sourceSize</key>
                <string>{41,136}</string>
            </dict>
            <key>hhs_ceng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,900},{92,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,29}}</string>
                <key>sourceSize</key>
                <string>{92,29}</string>
            </dict>
            <key>hhs_ceng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,977},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>hhs_ceng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,977},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>hhs_ceng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,752},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hhs_ceng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,884},{130,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,45}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>hhs_ceng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,634},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>hhs_ceng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,346},{42,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,134}}</string>
                <key>sourceSize</key>
                <string>{42,134}</string>
            </dict>
            <key>hhs_ceng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,390},{42,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,134}}</string>
                <key>sourceSize</key>
                <string>{42,134}</string>
            </dict>
            <key>hhs_ceng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,977},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>hhs_ceng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,977},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{492,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2944096d04c3d7dadabe517e6fa575d6:4aa510df09a4dc874a88cbfb902463a0:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
