<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjyhx_xza_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,64},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{30,28}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{60,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{60,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{72,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{74,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{76,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{76,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hjyhx_xza_a_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{72,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{72,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{774,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8397e637c90ce57b849b572bbdcbe72e:ac0e106b94d0d90d2e6d42a71bc0d8da:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
