<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,123},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>bunny_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,196},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>bunny_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,207},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>bunny_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,161},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>bunny_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{78,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>hbj_xz_b_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,97}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{100,97}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{100,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{100,99}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{100,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{100,99}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{100,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{100,99}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{94,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{94,93}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{94,99}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{94,99}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,117}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{114,117}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{84,89}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{84,89}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{82,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{82,83}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{78,77}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{78,77}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,152},{68,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,39},{68,69}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,196},{52,51}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,49},{52,51}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hbj_xz_b_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,165},{32,33}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{32,33}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>hhhbj_bsyw_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,142},{54,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{54,55}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,98},{62,59}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{62,59}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,97},{62,59}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,59}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,93},{60,57}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{60,57}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{56,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{56,61}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,199},{48,49}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{48,49}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>hhhbj_bsyw_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,222},{26,31}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{26,31}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>huangbaji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,162},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>huangbaji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,234},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>huangbaji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,165},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>huangbaji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,69},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>huangbaji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,81},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>huangbaji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,180},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>huangbaji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,222},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>huangbaji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,227},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>huangbaji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,223},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>huangbaji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,180},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>huangbaji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,161},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>huangbaji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,158},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>huangbaji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>huangbaji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,236},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>huangbaji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,222},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>huangbaji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,234},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>huangbaji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,196},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>huangbaji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,204},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>huangbaji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,209},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>huangbaji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,103},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>huangbaji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,142},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>huangbaji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,165},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>huangbaji_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,87},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>huangbaji_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,222},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>huangbaji_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,199},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>huangbaji_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,199},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>huangbaji_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,196},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>huangbaji_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,199},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>huangbaji_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,131},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>huangbaji_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,131},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>huangbaji_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,60},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>huangbaji_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,81},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>huangbaji_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,165},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>huangbaji_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,199},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{42,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,106},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{46,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,155},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{48,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,97},{54,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{54,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,101},{60,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{60,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,101},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{62,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,170},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{62,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,196},{52,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{52,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,222},{40,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{40,24}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangbaji_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,223},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>huangbaji_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,69},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>huangbaji_shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,103},{80,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>huangbaji_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,156},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_huangbaji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,156},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>up_huangbaji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,100},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>up_huangbaji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,222},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>up_huangbaji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,179},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>up_huangbaji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,209},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>up_huangbaji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,165},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>up_huangbaji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,154},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>up_huangbaji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,87},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>up_huangbaji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,165},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>up_huangbaji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,121},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
            <key>up_huangbaji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,236},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>up_huangbaji_shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,103},{86,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,51}}</string>
                <key>sourceSize</key>
                <string>{86,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1014,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83907788ca33480b7271f9d43d972836:4b19a103fd5484a4570d77d2d13eb49c:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
