<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smr_xzb_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{101,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
            <key>smr_xzb_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{99,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{99,113}}</string>
                <key>sourceSize</key>
                <string>{151,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{812,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65f6b420ebefc7950d6738c2639d9f94:f5325b05622369f8e1f52f8e94992fef:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
