<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fegnshilangfx_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>fegnshilangfx_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,666},{96,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,39}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>fegnshilangfx_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,141},{88,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>fengshi-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,666},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,30}}</string>
                <key>sourceSize</key>
                <string>{136,30}</string>
            </dict>
            <key>fengshi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,27},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>fengshi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,822},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,61}</string>
            </dict>
            <key>fengshi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,605},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>fengshi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,587},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>fengshi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1003},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>fengshi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,890},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>fengshi-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>fengshi-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1007},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>fengshi-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,526},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>fengshi-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,126},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>fengshi-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,370},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>fengshi-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,369},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>fengshi-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,415},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>fengshi-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,651},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fengshi-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,666},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>fengshi-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,943},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>fengshi-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,799},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>fengshi-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,804},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>fengshi-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,581},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>fengshi-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,415},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>fengshi-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,274},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>fengshi-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,414},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>fengshi-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,52},{49,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,23}}</string>
                <key>sourceSize</key>
                <string>{49,23}</string>
            </dict>
            <key>fengshi-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,976},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>fengshi-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,311},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>fengshi-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,465},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>fengshi-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,858},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>fengshi-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,976},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>fengshi-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{177,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,131}}</string>
                <key>sourceSize</key>
                <string>{177,131}</string>
            </dict>
            <key>fengshi-die.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,824},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>fengshi-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,804},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>fengshi-hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,474},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>fengshi-idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,793},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>fengshilangfx_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,231},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>fsl_xz_b_00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,531},{133,80}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{133,80}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>fsl_xz_b_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{141,78}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{141,78}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>fsl_xz_b_00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,388},{141,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{141,60}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>fsl_xz_b_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,666},{131,34}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,46},{131,34}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>up_fengshi-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,822},{148,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,30}}</string>
                <key>sourceSize</key>
                <string>{148,30}</string>
            </dict>
            <key>up_fengshi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,343},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>up_fengshi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,913},{88,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,61}}</string>
                <key>sourceSize</key>
                <string>{88,61}</string>
            </dict>
            <key>up_fengshi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,628},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>up_fengshi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,651},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>up_fengshi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,495},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>up_fengshi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,503},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>up_fengshi-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,390},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>up_fengshi-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1007},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>up_fengshi-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,549},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>up_fengshi-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,556},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>up_fengshi-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,893},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>up_fengshi-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,436},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>up_fengshi-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,572},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>up_fengshi-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,299},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>up_fengshi-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,793},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>up_fengshi-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,440},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>up_fengshi-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,602},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>up_fengshi-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,793},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>up_fengshi-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,478},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>up_fengshi-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,531},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>up_fengshi-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,444},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>up_fengshi-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,976},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>up_fengshi-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,338},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>up_fengshi-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,384},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>up_fengshi-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1007},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>up_fengshi-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,311},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>up_fengshi-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,822},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>up_fengshi-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,137}}</string>
                <key>sourceSize</key>
                <string>{193,137}</string>
            </dict>
            <key>up_fengshi-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,913},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>up_fengshi-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,504},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>up_fengshi-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,858},{33,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>up_fengshi-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,764},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>up_fengshi-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,617},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>up_fengshi-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1000},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>up_fengshi-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1003},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>up_fengshi-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,103},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>up_fengshi-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{16,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,5}}</string>
                <key>sourceSize</key>
                <string>{16,5}</string>
            </dict>
            <key>up_fengshi-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1000},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>up_fengshi-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,478},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>up_fengshi-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,799},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>xuli_dg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{148,102}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{148,102}}</string>
                <key>sourceSize</key>
                <string>{168,120}</string>
            </dict>
            <key>xuli_dg0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{142,102}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{142,102}}</string>
                <key>sourceSize</key>
                <string>{168,120}</string>
            </dict>
            <key>xuli_dg0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{146,112}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{146,112}}</string>
                <key>sourceSize</key>
                <string>{168,120}</string>
            </dict>
            <key>xuli_dg0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{138,112}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,112}}</string>
                <key>sourceSize</key>
                <string>{168,120}</string>
            </dict>
            <key>xuli_dg0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,274},{108,20}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,90},{108,20}}</string>
                <key>sourceSize</key>
                <string>{168,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{225,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3c82db20e39899037242835cd1dcc9:1707275c5c8b72e71817e3dd3f54a6a5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
