<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>d_w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>d_w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>d_w4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,606},{266,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{266,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>d_w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,304},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>fsl_d_dazhaobeiji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,487},{129,43}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_d_dazhaobeiji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,848},{131,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_d_dazhaobeiji0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{131,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_d_dazhaobeiji0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,382},{43,43}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_d_dazhaobeiji0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{43,43}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_dazhaobeiji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,532},{129,43}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_dazhaobeiji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,135},{131,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_dazhaobeiji0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,268},{131,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_dazhaobeiji0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,47},{43,43}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>fsl_dazhaobeiji0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,92},{43,43}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>kaca_a_s_Leaf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,349},{53,34}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,83},{53,34}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,778},{51,50}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,61},{51,50}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,438},{41,50}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,54},{41,50}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,339},{41,46}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{41,46}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,289},{43,48}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{43,48}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,244},{43,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,34},{43,52}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,304},{43,54}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{43,54}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,244},{49,58}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{49,58}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,716},{55,60}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{55,60}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,831},{61,62}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{61,62}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,878},{67,26}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{67,26}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,874},{71,28}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{71,28}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,874},{73,30}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{73,30}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_Leaf0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,577},{71,32}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>kaca_a_s_wind0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,650},{64,33}}</string>
                <key>offset</key>
                <string>{-53,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{64,33}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>kaca_a_s_wind0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{162,27}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{162,27}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>kaca_a_s_wind0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{162,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{162,25}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>kaca_a_s_wind0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,874},{148,15}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{148,15}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>kaca_a_s_wind0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,878},{64,13}}</string>
                <key>offset</key>
                <string>{36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,9},{64,13}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>kaca_a_winddie0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,401},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_a_winddie0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{81,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_a_winddie0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,663},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_a_winddie0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,831},{65,74}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_a_winddie0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,168},{51,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{51,42}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_d_winddie0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,577},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_d_winddie0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,85},{81,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_d_winddie0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,747},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_d_winddie0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,168},{65,74}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>kaca_d_winddie0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,385},{51,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{51,42}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,304},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
            <key>w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,576},{270,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,300}}</string>
                <key>sourceSize</key>
                <string>{270,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1020,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3364e1e6b3000bb8f4888fbcffbfca9b:28323bc5080b6a773bd4f5810f61ac2f:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
