<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bodong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{78,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{78,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{78,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{78,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{78,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,86}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{78,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,88}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>bodong0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{78,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{82,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d1f380980d60341b8d70ffb9f78d9be:6d2106daf61eba7b2f177c9dce34d193:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
