<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_tongyongboaqi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,366},{176,158}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{176,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,170}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,168}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{180,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,166}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{180,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,548},{180,164}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{180,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{158,168}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{158,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,730},{126,158}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{126,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>boss_tongyongboaqi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,172},{58,132}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,16},{58,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{336,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3729aa774a779119187d4921c38a2c63:5632a0abd7306374682dad615ba57b83:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
