<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>klh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{75,83}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,83}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>klh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{83,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>klh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{83,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>klh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>klh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{83,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{87,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03ad544a72fbda60cb9c9562acebc546:69181fe8ca4cff2a32e87ca38035f3cc:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
