<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>szty_kuangzhaobianshen_dandao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{164,11}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{164,11}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
            <key>szty_kuangzhaobianshen_dandao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{142,15}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
            <key>szty_kuangzhaobianshen_dandao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,15}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{142,15}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
            <key>szty_kuangzhaobianshen_dandao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,15}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{142,15}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
            <key>szty_kuangzhaobianshen_dandao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,15}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{142,15}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
            <key>szty_kuangzhaobianshen_dandao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{122,15}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{122,15}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
            <key>szty_kuangzhaobianshen_dandao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{106,11}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{106,11}}</string>
                <key>sourceSize</key>
                <string>{168,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{976,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6de1fd96ce0e57e92d9685dbb4826cf3:2ecde6204e8f063d2eb3aca7baf53d93:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
