<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhs_guangxian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,109},{146,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{146,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{162,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{162,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,109},{162,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{162,103}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,109},{164,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,103}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,109},{164,99}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,99}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{164,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{162,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{162,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
            <key>hhs_guangxian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{162,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{162,105}}</string>
                <key>sourceSize</key>
                <string>{180,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{826,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e60170139115bc4cd13d135c463bba3:04443319e1486c539a8b0e447a13b56c:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
