<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_huo_b_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,532},{73,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,303},{73,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,303},{73,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,455},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,228},{73,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,665},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,580},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,503},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,378},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,886},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,886},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,734},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,779},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,657},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,426},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_b_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,811},{73,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_huo_dz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,96},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>boss_huo_dz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,378},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>boss_huo_dz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,222},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>boss_huo_dz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,607},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>boss_huo_dz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>boss_huo_dz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,596},{83,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,99}}</string>
                <key>sourceSize</key>
                <string>{83,99}</string>
            </dict>
            <key>boss_huo_dz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,518},{104,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,65}}</string>
                <key>sourceSize</key>
                <string>{104,65}</string>
            </dict>
            <key>boss_huo_dz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,512},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>boss_huo_dz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{68,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>boss_huo_dz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,146},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>boss_huo_dz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,585},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>boss_huo_dz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,699},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>boss_huo_dz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,596},{90,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{90,101}</string>
            </dict>
            <key>boss_huo_dz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,856},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>boss_huo_dz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,378},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>boss_huo_dz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,676},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>boss_huo_dz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,856},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>boss_huo_dz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,426},{118,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{118,84}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>boss_huo_m_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,898},{82,84}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{82,84}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,154},{66,66}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{66,66}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,801},{94,92}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{94,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{120,120}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,31},{120,120}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,142}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{138,142}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{152,154}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,160}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{160,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,160}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{166,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,146}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{166,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss_huo_m_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{150,108}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{150,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>huonv_xuanfeng0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,334},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>huonv_xuanfeng0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,242},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>huonv_xuanfeng0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,150},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>huonv_xuanfeng0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>huonv_xuanfeng0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>hv_gh_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,150},{81,90}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{81,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,881},{81,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{81,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,895},{81,90}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,21},{81,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,789},{81,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{81,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,242},{79,90}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{79,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,334},{79,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{79,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,426},{79,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{79,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>hv_gh_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,697},{81,90}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{81,90}}</string>
                <key>sourceSize</key>
                <string>{165,120}</string>
            </dict>
            <key>qianbingweiyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,742},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{548,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e5752be270d1fb85d84915a47318c7$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
