<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gm_dz_a_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,818},{114,68}}</string>
                <key>offset</key>
                <string>{-39,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,53},{114,68}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{146,100}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{146,100}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{184,112}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{184,112}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,110}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{194,110}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{128,94}}</string>
                <key>offset</key>
                <string>{-31,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{128,94}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,292},{132,98}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{132,98}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,680},{136,102}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{136,102}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,150},{140,106}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{140,106}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{142,110}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{142,110}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{146,112}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{146,112}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{146,114}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{146,114}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
            <key>gm_dz_a_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{146,114}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{146,114}}</string>
                <key>sourceSize</key>
                <string>{210,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{224,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a21e6e6bd104f1771fa1ecf991794ffe:d0f3fa3b2b11128bee96ede315ec44fe:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
