<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ybhm_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{67,53}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{67,53}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,81}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{113,81}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{113,81}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{113,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{113,81}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{113,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{113,79}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{113,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{113,79}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{107,73}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{107,73}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{95,77}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{95,77}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{103,79}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{103,79}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{111,81}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{111,81}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>ybhm_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{113,81}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{113,81}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{119,869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a69618e7a49ef9b88a9a2feee8a23c:7ea96bae6b4a59d9c373d81f3f088a90:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
