<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rskfy_a_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,252},{74,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,145},{74,74}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>rskfy_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,328},{74,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,145},{74,74}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>rskfy_a_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,252},{150,162}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,102},{150,162}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>rskfy_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{248,276}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{248,276}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>rskfy_a_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{338,334}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{338,334}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>rskfy_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,350}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{358,350}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{968,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928d356d16d51c3684778a0bc17fe738:691254752541867bffdf5b962beccb6a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
