<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_xiangpu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>a_xiangpu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,205},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>a_xiangpu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,152},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>a_xiangpu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,146},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>a_xiangpu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>a_xiangpu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>a_xiangpu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,38},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>a_xiangpu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,63},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>a_xiangpu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,30},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>a_xiangpu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,61},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>a_xiangpu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>a_xiangpu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,152},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>a_xiangpu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,224},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>a_xiangpu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,132},{48,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,12}}</string>
                <key>sourceSize</key>
                <string>{48,12}</string>
            </dict>
            <key>xiangpu_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,194},{48,28}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,101},{48,28}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>xiangpu_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,156},{84,68}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,69},{84,68}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>xiangpu_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,134}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{152,134}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>xiangpu_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{152,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{152,128}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>xiangpu_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{148,132}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{148,132}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>xiangpu_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,132},{154,120}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{154,120}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>xiangpu_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,218},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{478,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0375513a6891ea407e349315ff16c6bf:68a722611bf189f9ff50fa8dcd87069e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
