<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ydx_qunmoluanwu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,44},{17,26}}</string>
                <key>offset</key>
                <string>{-76,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,78},{17,26}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{19,40}}</string>
                <key>offset</key>
                <string>{-75,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,65},{19,40}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,657},{23,52}}</string>
                <key>offset</key>
                <string>{-73,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{23,52}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,903},{35,66}}</string>
                <key>offset</key>
                <string>{-72,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{35,66}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,766},{47,78}}</string>
                <key>offset</key>
                <string>{-72,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{47,78}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,551},{61,86}}</string>
                <key>offset</key>
                <string>{-74,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{61,86}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,903},{73,86}}</string>
                <key>offset</key>
                <string>{-76,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{73,86}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,905},{79,88}}</string>
                <key>offset</key>
                <string>{-79,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{79,88}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,815},{85,88}}</string>
                <key>offset</key>
                <string>{-81,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{85,88}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,905},{87,86}}</string>
                <key>offset</key>
                <string>{-81,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{87,86}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,815},{87,86}}</string>
                <key>offset</key>
                <string>{-81,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{87,86}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,919},{87,82}}</string>
                <key>offset</key>
                <string>{-81,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{87,82}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,739},{89,74}}</string>
                <key>offset</key>
                <string>{-81,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{89,74}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,913},{89,72}}</string>
                <key>offset</key>
                <string>{-81,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{89,72}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{137,82}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{137,82}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,441},{169,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{169,108}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,329},{169,110}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{169,110}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{231,112}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{231,112}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{223,114}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{223,114}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,644},{231,116}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{231,116}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,392},{241,124}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{241,124}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{255,126}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{255,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{255,124}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{249,128}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{249,128}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,262},{247,128}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{247,128}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{251,130}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{251,130}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,128},{251,132}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{251,132}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{245,134}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,134}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,86},{241,136}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{241,136}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,518},{241,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{241,124}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{237,122}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{237,122}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,766},{223,112}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{223,112}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,551},{119,104}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{119,104}}</string>
                <key>sourceSize</key>
                <string>{255,138}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,815},{48,102}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{48,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,809},{46,86}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{46,86}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,815},{50,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{50,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,639},{52,98}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{52,98}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,762},{50,96}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{50,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,759},{48,104}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{48,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,709},{48,106}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{48,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,657},{50,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,815},{52,88}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>ydx_qunmoluanwu_gui0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,815},{50,96}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{50,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{678,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3aa6e6201f191fbd23075da31667106:6514f3bbbb092d98d36985ee8fc20e29:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
