<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fegnshilangfx_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,168},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>fegnshilangfx_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,176},{96,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,39}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>fegnshilangfx_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,150},{88,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>hy_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{164,120}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,91},{164,120}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{154,134}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,77},{154,134}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{144,146}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{144,146}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{134,160}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,52},{134,160}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{124,172}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,39},{124,172}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{116,186}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,27},{116,186}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{110,200}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,13},{110,200}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hy_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,214}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{102,214}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,164},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,190},{30,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,11}}</string>
                <key>sourceSize</key>
                <string>{30,11}</string>
            </dict>
            <key>purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,168},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>purple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,158},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>purple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,190},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>purple_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,195},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>purple_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,204},{40,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,13}}</string>
                <key>sourceSize</key>
                <string>{40,13}</string>
            </dict>
            <key>purple_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,190},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>purple_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,190},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>purple_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,203},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>purple_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,186},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>purple_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,198},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>purple_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,186},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>purple_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,150},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>purple_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>purple_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,158},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,164},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>up_purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,176},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>up_purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,168},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>up_purple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,190},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>up_purple_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,195},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>up_purple_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,204},{40,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,13}}</string>
                <key>sourceSize</key>
                <string>{40,13}</string>
            </dict>
            <key>up_purple_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,195},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>up_purple_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,190},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>up_purple_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,198},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>up_purple_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,201},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>up_purple_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,195},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>up_purple_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,204},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>up_purple_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,168},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>up_purple_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,204},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1002,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b4ecde5e2975d848249c8962915b91a:f18331e1f5318b1a9f4693a6921ca2fe:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
