<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,479},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,230},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>diaohuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,312},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>diaohuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,459},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>diaohuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,444},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>ff.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{7,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,72}}</string>
                <key>sourceSize</key>
                <string>{7,76}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,285},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{103,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,53}}</string>
                <key>sourceSize</key>
                <string>{103,53}</string>
            </dict>
            <key>maozihou.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,121},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>paoyoudatui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>paoyoudatui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,140},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>paoyouxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,331},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>piaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,107},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,478},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>piaodai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,107},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>up_daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,420},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>up_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,225},{58,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,43}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>up_maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{102,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{102,53}</string>
            </dict>
            <key>up_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,117}}</string>
                <key>sourceSize</key>
                <string>{50,117}</string>
            </dict>
            <key>up_yixiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,76},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>up_yixiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,436},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>up_yixiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,155},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>up_yixiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{97,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,46}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>up_youxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>up_zuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,516},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{42,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,110}}</string>
                <key>sourceSize</key>
                <string>{42,110}</string>
            </dict>
            <key>yaofeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,444},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>yixiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>youdatui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,504},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>youdatui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,479},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,288},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,506},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>youxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,197},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,506},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>yxcs_xza_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,344},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>yxcs_xza_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,382},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>yxcs_xza_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,344},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>yxcs_xza_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,384},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>zuodatui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,516},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>zuodatui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,172},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,424},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,107},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>zuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,268},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,107},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{128,539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4d906e2f6149823577e1bc7cfd7eee3:720b222330fbb56c113090c321c974e1:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
