<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jxlr_xz_a_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{21,21}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{21,21}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{41,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{41,39}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{53,53}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{53,53}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{55,55}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{53,51}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{53,51}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{51,51}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{49,51}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{49,51}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jxlr_xz_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{49,49}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{49,49}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{59,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3897a6e820b358abfa0cf26534834d38:b9bdc9960eec91a77900f969e0970290:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
