<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honglian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,643},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
            <key>honglian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>honglian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,495},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>honglian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,433},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>honglian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{26,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
            <key>honglian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>honglian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,128},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>honglian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,249},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>honglian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>honglian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{53,61}</string>
            </dict>
            <key>honglian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,666},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>honglian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,673},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>honglian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>honglian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,597},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>honglian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,484},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>honglian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>honglian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,671},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>honglian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,621},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>honglian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,418},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>honglian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>honglian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,623},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>honglian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,597},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>honglian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,461},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>honglian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,208},{7,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,22}}</string>
                <key>sourceSize</key>
                <string>{7,22}</string>
            </dict>
            <key>honglian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>honglian_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>honglian_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,522},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>honglian_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,232},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>honglian_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,573},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>honglian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,353},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>honglian_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,680},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>honglian_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,548},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>honglian_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,287},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>honglian_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,461},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>honglian_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,647},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_honglian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
            <key>up_honglian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{26,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
            <key>up_honglian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,681},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>up_honglian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,168},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>up_honglian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>up_honglian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>up_honglian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{53,61}</string>
            </dict>
            <key>up_honglian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,390},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>up_honglian_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,548},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>up_honglian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,315},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{57,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87200f0b023824b3aead88bdf65e8355:104f24ad151b8befb644885e66ee47e0:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
