<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghqbw_xzc_b_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,336},{93,36}}</string>
                <key>offset</key>
                <string>{-103,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,44},{93,36}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{159,80}}</string>
                <key>offset</key>
                <string>{-75,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{159,80}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{187,78}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{187,78}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,76}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,26},{205,76}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{175,86}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,11},{175,86}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{171,86}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,13},{171,86}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,625},{71,86}}</string>
                <key>offset</key>
                <string>{90,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,14},{71,86}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_b_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,912},{69,84}}</string>
                <key>offset</key>
                <string>{87,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,16},{69,84}}</string>
                <key>sourceSize</key>
                <string>{309,110}</string>
            </dict>
            <key>ghqbw_xzc_c_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{227,107}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{227,107}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
            <key>ghqbw_xzc_c_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{227,105}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{227,105}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
            <key>ghqbw_xzc_c_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,698},{97,105}}</string>
                <key>offset</key>
                <string>{54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,15},{97,105}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
            <key>ghqbw_xzc_c_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{97,103}}</string>
                <key>offset</key>
                <string>{55,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,16},{97,103}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
            <key>ghqbw_xzc_c_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,805},{97,105}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,16},{97,105}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
            <key>ghqbw_xzc_c_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,431},{93,103}}</string>
                <key>offset</key>
                <string>{53,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,16},{93,103}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
            <key>ghqbw_xzc_c_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,536},{87,87}}</string>
                <key>offset</key>
                <string>{54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,26},{87,87}}</string>
                <key>sourceSize</key>
                <string>{291,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{209,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f115b3ab622d5c7afb99aeaeea1675fd:f839e9338365f9259d31982584b618fa:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
