<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{164,318}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{164,318}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>lightkuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,222}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{118,222}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{442,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6b05386ff98c4be9d70d1b9738f3d5:bab41bc85b1785e1202acce9f3d8a294:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
