<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_text_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,30}}</string>
                <key>sourceSize</key>
                <string>{220,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightnumber_hurt0.png</string>
            <key>size</key>
            <string>{220,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46fa79805abf8019c80753e52aa7f4c6:f3afc89a1d9da7e679e61ccc1d949e30:6fc4d63a5575fe66d8b4c6b3b5a4811b$</string>
            <key>textureFileName</key>
            <string>fightnumber_hurt0.png</string>
        </dict>
    </dict>
</plist>
