<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_dahuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,445},{165,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,107}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>load_dahuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,989},{24,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,93}}</string>
                <key>sourceSize</key>
                <string>{24,93}</string>
            </dict>
            <key>load_dahuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,663},{284,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,324}}</string>
                <key>sourceSize</key>
                <string>{284,324}</string>
            </dict>
            <key>load_dahuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,391},{51,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,128}}</string>
                <key>sourceSize</key>
                <string>{51,128}</string>
            </dict>
            <key>load_jiansheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{593,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,116}}</string>
                <key>sourceSize</key>
                <string>{593,116}</string>
            </dict>
            <key>load_jiansheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,832},{54,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,95}}</string>
                <key>sourceSize</key>
                <string>{54,95}</string>
            </dict>
            <key>load_jiansheng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,120},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>load_jiansheng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,989},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>load_jiansheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,888},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>load_jiansheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,192},{131,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,122}}</string>
                <key>sourceSize</key>
                <string>{131,122}</string>
            </dict>
            <key>load_jiansheng_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{324,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,483}}</string>
                <key>sourceSize</key>
                <string>{324,483}</string>
            </dict>
            <key>load_jiansheng_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,988},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>load_jiansheng_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,192},{126,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,145}}</string>
                <key>sourceSize</key>
                <string>{126,145}</string>
            </dict>
            <key>load_lightflow.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,663},{353,238}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{353,238}}</string>
                <key>sourceSize</key>
                <string>{365,238}</string>
            </dict>
            <key>load_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{487,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,215}}</string>
                <key>sourceSize</key>
                <string>{487,215}</string>
            </dict>
            <key>load_mayi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,717},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>load_shifang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,395},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>load_shifang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,770},{20,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,45}}</string>
                <key>sourceSize</key>
                <string>{20,45}</string>
            </dict>
            <key>load_shifang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,989},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>load_shifang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,989},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>load_shifang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,554},{163,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,85}}</string>
                <key>sourceSize</key>
                <string>{163,85}</string>
            </dict>
            <key>load_shifang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,316},{73,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,130}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>load_shifang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,770},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>load_shifang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,888},{133,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,50}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>load_shifang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,832},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>load_shifang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{242,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,355}}</string>
                <key>sourceSize</key>
                <string>{242,355}</string>
            </dict>
            <key>load_shifang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,641},{158,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,189}}</string>
                <key>sourceSize</key>
                <string>{158,189}</string>
            </dict>
            <key>load_shifang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,192},{165,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,144}}</string>
                <key>sourceSize</key>
                <string>{165,144}</string>
            </dict>
            <key>load_shifang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,989},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>load_tiandi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,989},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>load_tiandi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,660},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>load_tiandi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,341},{364,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,317}}</string>
                <key>sourceSize</key>
                <string>{364,317}</string>
            </dict>
            <key>load_xiaoyin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,183},{156,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,103}}</string>
                <key>sourceSize</key>
                <string>{156,103}</string>
            </dict>
            <key>load_xiaoyin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,338},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>load_xiaoyin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{188,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,422}}</string>
                <key>sourceSize</key>
                <string>{188,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aadfb12a2c32adfeeaa42250e6e46d63:1fd244a668b65203d3c5c6bfddc84009:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
