<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rencilang_fd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{91,53}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
            <key>rencilang_fd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{91,53}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
            <key>rencilang_fd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{89,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{89,51}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{279,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d9b1bec64acd99e0760b9a3f7551f99:20c7f3857544fc4c1f0e7140c3d819ad:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
