<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mddal_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,927},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>mddal_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{112,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,142}}</string>
                <key>sourceSize</key>
                <string>{112,142}</string>
            </dict>
            <key>mddal_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{123,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,81}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>mddal_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,231}}</string>
                <key>sourceSize</key>
                <string>{97,231}</string>
            </dict>
            <key>mddal_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{97,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,231}}</string>
                <key>sourceSize</key>
                <string>{97,231}</string>
            </dict>
            <key>mddal_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{57,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,111}}</string>
                <key>sourceSize</key>
                <string>{57,111}</string>
            </dict>
            <key>mddal_d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{57,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,111}}</string>
                <key>sourceSize</key>
                <string>{57,111}</string>
            </dict>
            <key>mddal_d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,855},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>mddal_d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{116,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea00066b5d5a373bc142064547fcf5a1:d9984a70c43475ff84c0f35f72562e6b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
