<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qby_xzb_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,493},{40,29}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,62},{40,29}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{90,77}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{90,77}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,565},{114,83}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{114,83}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{124,87}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{124,87}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{128,89}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{128,89}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{130,89}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{130,89}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,221},{134,89}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{134,89}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,357},{134,89}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{134,89}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{136,85}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{136,85}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{136,89}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{136,89}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,81},{138,97}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{138,97}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{140,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{140,83}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{144,69}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{144,69}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>qby_xzb_a_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,45}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{146,45}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{247,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b16c9fd790e020416f32c3ff2308c124:e227dd6fbe9f43b087d5b85a502e6bc7:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
