<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qiuqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,270},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>boss_tongyongsiwang0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,162},{140,142}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,54},{140,142}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{144,146}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{144,146}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,330},{150,152}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,52},{150,152}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,354},{154,156}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{154,156}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{128,158}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{128,158}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,186},{116,166}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{116,166}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{130,174}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{130,174}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,182}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{134,182}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,168},{134,160}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{134,160}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{116,164}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{116,164}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{100,166}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{100,166}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{100,140}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{100,140}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{100,142}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{100,142}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,144},{100,108}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{100,108}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,254},{100,92}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{100,92}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,348},{100,78}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,51},{100,78}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,428},{100,74}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{100,74}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,306},{98,70}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,45},{98,70}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,406},{62,68}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{62,68}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,309},{60,64}}</string>
                <key>offset</key>
                <string>{20,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,37},{60,64}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,375},{60,60}}</string>
                <key>offset</key>
                <string>{20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{60,60}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,208},{60,58}}</string>
                <key>offset</key>
                <string>{20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,29},{60,58}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>boss_tongyongsiwang0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,146},{58,60}}</string>
                <key>offset</key>
                <string>{20,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,23},{58,60}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{692,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:796c813330ae6c60c7cfa316e5f3da29:a1dac0446682d42fa3ad84d42c569817:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
