<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tzd_wanzhangguangmang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,562},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,282},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,282},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,562},{96,278}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{96,278}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{98,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,282},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,562},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,282},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
            <key>tzd_wanzhangguangmang_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,562},{96,278}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,278}}</string>
                <key>sourceSize</key>
                <string>{102,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{496,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa3f72f885bf7af09bea8ddecf1a01d:a49865d306917229cb21d0290b7da05c:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
