<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mao_baofa_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{105,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{105,58}}</string>
                <key>sourceSize</key>
                <string>{135,66}</string>
            </dict>
            <key>mao_baofa_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,66},{113,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{113,60}}</string>
                <key>sourceSize</key>
                <string>{135,66}</string>
            </dict>
            <key>mao_baofa_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{121,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{121,62}}</string>
                <key>sourceSize</key>
                <string>{135,66}</string>
            </dict>
            <key>mao_baofa_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{129,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{135,66}</string>
            </dict>
            <key>mao_baofa_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{135,66}</string>
            </dict>
            <key>xiubainshen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,60},{52,44}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{52,44}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>xiubainshen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,68},{56,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{56,42}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>xiubainshen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,74},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{66,52}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>xiubainshen_xuli0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{76,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{76,88}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>xiubainshen_xuli0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,68},{48,110}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{48,110}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>xiubainshen_xuli0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{72,116}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,116}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>xiubainshen_xuli0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,72},{54,102}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{54,102}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>xiubainshen_xuli0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{68,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>xiumu_diao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,80},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>xiumu_diao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,114},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>xiumu_diao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,98},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>xiumu_diao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,68},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>xiumu_diao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,80},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>xiumu_diao_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,97},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>xiumu_diao_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,68},{58,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,25}}</string>
                <key>sourceSize</key>
                <string>{58,25}</string>
            </dict>
            <key>xiumu_diao_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,98},{49,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>xiumu_diao_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,98},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>xiumu_diao_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,76},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>xiumu_diao_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,97},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>xiumu_huichen0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,114},{62,12}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{62,12}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>xiumu_huichen0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,76},{94,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{94,20}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>xiumu_huichen0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,22},{104,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{104,20}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>xiumu_huichen0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{106,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{106,18}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>xiumu_huichen0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,44},{104,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{104,14}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>xiumu_zidan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{66,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{66,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>xiumu_zidan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{68,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>xiumuyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,60},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{978,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d13940f4d9e96340ed4b91d12256f1:1c5017dd3e537516d629cda63af533ea:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
