<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tzd_huitianmiedi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{50,152}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,19},{50,152}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,872},{118,92}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,94},{118,92}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,62},{128,106}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,80},{128,106}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,628},{136,126}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{136,126}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,386},{140,136}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{140,136}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,192},{144,98}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{144,98}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{140,98}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,88},{140,98}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,524},{138,102}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,81},{138,102}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,872},{120,102}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,78},{120,102}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,756},{132,114}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,67},{132,114}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{136,128}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,54},{136,128}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{142,134}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,49},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,292},{142,92}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,91},{142,92}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{140,88}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,95},{140,88}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{128,94}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,88},{128,94}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,756},{26,52}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,96},{26,52}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,628},{24,52}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,88},{24,52}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{60,186}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{62,182}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{62,182}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{54,154}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{54,154}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{50,136}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{50,136}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{34,80}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>tzd_huitianmiedi_dimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{112,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{112,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>tzd_huitianmiedi_guangzhu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{42,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,180}}</string>
                <key>sourceSize</key>
                <string>{48,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{304,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5c83269a94baeaaf09bf26bf183fa78:22f5b7b8ace6d75a17d829d484b53945:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
