<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lh_b_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,264},{48,51}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,38},{48,51}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,194},{68,71}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,30},{68,71}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,106},{86,91}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,21},{86,91}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{102,107}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{102,107}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,161},{118,121}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{118,121}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{128,137}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{128,137}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,175},{136,147}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{136,147}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,167},{142,157}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{142,157}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{146,163}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{150,167}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{150,167}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{152,169}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{152,169}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,171}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{152,171}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{148,171}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,175},{130,171}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{130,171}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,173},{130,157}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{130,157}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>lh_b_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{130,157}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{130,157}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1001,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e0b5a018ce10a0dde1778ae04dbbee:f532cedaa14ca925685822711f38e9d0:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
