<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsgz_xza_b_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{111,110}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{111,110}}</string>
                <key>sourceSize</key>
                <string>{193,224}</string>
            </dict>
            <key>bsgz_xza_b_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{113,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{113,142}}</string>
                <key>sourceSize</key>
                <string>{193,224}</string>
            </dict>
            <key>bsgz_xza_b_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{133,174}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{133,174}}</string>
                <key>sourceSize</key>
                <string>{193,224}</string>
            </dict>
            <key>bsgz_xza_b_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{149,194}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{149,194}}</string>
                <key>sourceSize</key>
                <string>{193,224}</string>
            </dict>
            <key>bsgz_xza_b_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,198}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{151,198}}</string>
                <key>sourceSize</key>
                <string>{193,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{155,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d35f10bd2410871f05e790b4ada86c15:7de7833a07f27cf1afd034b0c8393c25:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
