<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qd_bx_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,257},{97,77}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,142},{97,77}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,356},{97,77}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,142},{97,77}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,455},{97,77}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,142},{97,77}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{125,77}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,142},{125,77}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,178},{123,77}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,143},{123,77}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,474},{187,205}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,18},{187,205}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,257},{187,215}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,18},{187,215}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,819},{203,221}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,17},{203,221}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,781},{225,225}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,17},{225,225}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,548},{239,231}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,17},{239,231}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{261,237}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{261,237}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{271,245}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{271,245}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{269,253}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{269,253}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,249}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,18},{285,249}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,241},{291,201}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,18},{291,201}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,534},{283,201}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{283,201}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,257},{289,201}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{289,201}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{259,201}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{259,201}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{277,201}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{277,201}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,681},{247,189}}</string>
                <key>offset</key>
                <string>{-18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,30},{247,189}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
            <key>qd_bx_a_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,81},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,124},{101,95}}</string>
                <key>sourceSize</key>
                <string>{365,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{952,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7793815d2a6f88de5b1b36d86803dec:e93631683dfd2f417fade9b7ea17536e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
