<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanhuashentwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{122,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>huanhuashentwo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,76},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>huanhuashentwo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,207},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>huanhuashentwo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,117},{37,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,121}}</string>
                <key>sourceSize</key>
                <string>{37,121}</string>
            </dict>
            <key>huanhuashentwo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{30,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,127}}</string>
                <key>sourceSize</key>
                <string>{30,127}</string>
            </dict>
            <key>huanhuashentwo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,196},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>huanhuashentwo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,157},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>huanhuashentwo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,176}}</string>
                <key>sourceSize</key>
                <string>{161,176}</string>
            </dict>
            <key>huanhuashentwo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,45},{29,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,80}}</string>
                <key>sourceSize</key>
                <string>{29,80}</string>
            </dict>
            <key>huanhuashentwo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,192},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>huanhuashentwo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,156},{103,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,120}}</string>
                <key>sourceSize</key>
                <string>{103,120}</string>
            </dict>
            <key>huanhuashentwo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{153,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>huanhuashentwo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,131},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>huanhuashentwo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,39},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>huanhuashentwo_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,76},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>huanhuashentwo_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>huanhuashentwo_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,156},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>huanhuashentwo_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,183},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>huanhuashentwo_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,156},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>huanhuashentwo_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,192},{56,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>huanhuashentwo_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,183},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>huanhuashentwo_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,180},{70,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{70,33}</string>
            </dict>
            <key>huanhuashentwo_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{179,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,118}}</string>
                <key>sourceSize</key>
                <string>{179,118}</string>
            </dict>
            <key>huanhuashentwo_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{188,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{188,112}</string>
            </dict>
            <key>huanhuashentwo_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,110}}</string>
                <key>sourceSize</key>
                <string>{192,110}</string>
            </dict>
            <key>huanhuashentwo_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{185,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,113}}</string>
                <key>sourceSize</key>
                <string>{185,113}</string>
            </dict>
            <key>huanhuashentwo_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,228},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>huanhuashentwo_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,157},{96,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,39}}</string>
                <key>sourceSize</key>
                <string>{96,39}</string>
            </dict>
            <key>huanhuashentwo_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,117},{85,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>huanhuashentwo_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,76},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>huanhuashentwo_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,192},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>huanhuashentwo_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,209},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>huanhuashentwo_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,183},{45,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,73}}</string>
                <key>sourceSize</key>
                <string>{45,73}</string>
            </dict>
            <key>huanhuashentwo_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,214},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>huanhuashentwo_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{41,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,89}}</string>
                <key>sourceSize</key>
                <string>{41,89}</string>
            </dict>
            <key>huanhuashentwo_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,180},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>huanhuashentwo_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,157},{42,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,92}}</string>
                <key>sourceSize</key>
                <string>{42,92}</string>
            </dict>
            <key>huanhuashentwo_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,156},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>huanhuashentwo_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,180},{51,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,79}}</string>
                <key>sourceSize</key>
                <string>{51,79}</string>
            </dict>
            <key>huanhuashentwo_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{63,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,104}}</string>
                <key>sourceSize</key>
                <string>{63,104}</string>
            </dict>
            <key>huanhuashentwo_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,189},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1007,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf6af70c43d40a06d51e904a21f9d62d:a6fe4c776cc26343fc7ca4edd3bd28da:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
