<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qby_xza_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,300},{96,15}}</string>
                <key>offset</key>
                <string>{-178,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,92},{96,15}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,238},{196,57}}</string>
                <key>offset</key>
                <string>{-130,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,80},{196,57}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{296,87}}</string>
                <key>offset</key>
                <string>{-82,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,69},{296,87}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{332,127}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,58},{332,127}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,169}}</string>
                <key>offset</key>
                <string>{66,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,48},{338,169}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{280,201}}</string>
                <key>offset</key>
                <string>{102,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,47},{280,201}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{234,201}}</string>
                <key>offset</key>
                <string>{126,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,45},{234,201}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{192,201}}</string>
                <key>offset</key>
                <string>{145,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,45},{192,201}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
            <key>qby_xza_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,205},{144,123}}</string>
                <key>offset</key>
                <string>{167,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,123},{144,123}}</string>
                <key>sourceSize</key>
                <string>{504,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{991,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa0fece7ee68f3cab688fe99563a9bc5:734d0c88c37c4ecfc1a8e0d6b6f2d78b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
