<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfxc_xza_c_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{70,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{70,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xza_c_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{84,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xza_c_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{86,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xza_c_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xza_c_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{84,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dfxc_xza_c_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{88,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a16929ca517c72089927c68e0d38f61:64bd83ff96f18e91cbc39725e3bb27ee:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
