<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>close0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>close0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>close0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>close0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{114,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>close0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{114,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hhs_fuwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{44,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{44,44}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hhs_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{90,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{90,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{836,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ff40e95b8b07abc118eebd7ec910ed7:b4cfdbe672a50e681985b1539df556e8:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
