<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{118,123}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{118,123}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{106,97}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{106,97}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,137},{118,125}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{118,125}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{106,127}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{106,127}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{108,129}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{108,129}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,257},{110,131}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{110,131}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{112,133}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{112,133}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{112,133}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{112,133}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,635},{114,125}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{114,125}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,390},{116,125}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{116,125}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,127}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{118,127}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,751},{118,119}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{112,129}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{112,129}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{114,129}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,871},{116,121}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{116,121}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>boxlight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,517},{116,123}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{116,123}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{245,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a159a852f933b1aac490ac163b4919e4:d876af3fc884cff0c4c374eef700e223:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
