<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbox_clo.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{134,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{134,116}}</string>
                <key>sourceSize</key>
                <string>{136,122}</string>
            </dict>
            <key>bbox_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{132,120}}</string>
                <key>sourceSize</key>
                <string>{136,122}</string>
            </dict>
            <key>box_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{130,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{404,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf0a47c433353f6cb9fa26bd06ec017:22885a652a5328dfbb13bb267a082635:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
