<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lh_a_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{41,41}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,25},{41,41}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,521},{63,61}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,17},{63,61}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,914},{83,79}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,10},{83,79}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,819},{105,93}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,6},{105,93}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,694},{123,105}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{123,105}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,847},{141,115}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,3},{141,115}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,849},{159,127}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{159,127}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{173,139}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{173,139}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,694},{189,151}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{189,151}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{201,161}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{201,161}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,521},{215,171}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{215,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,348},{225,171}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{227,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,175},{227,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,171}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{227,169}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,169}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>lh_a_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{225,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{225,165}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{509,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:542498a81962fc754db410c977fd767f:08f005495db7bcbfbd723439a4a6e88d:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
