<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgys_xzb_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>huangbaji_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>huangbaji_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>huangbaji_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,72},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>huangbaji_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,74},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>huangbaji_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,74},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>huangbaji_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,67},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>huangbaji_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,80},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>huangbaji_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,80},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>huangbaji_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,66},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>huangbaji_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,80},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>up_yandian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>up_yandian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>up_yandian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,47},{16,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,41}}</string>
                <key>sourceSize</key>
                <string>{16,41}</string>
            </dict>
            <key>up_yandian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>up_yandian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>up_yandian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,108},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>up_yandian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,70}}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
            <key>up_yandian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,74},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>up_yandian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>up_yandian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{32,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,68}}</string>
                <key>sourceSize</key>
                <string>{32,68}</string>
            </dict>
            <key>yandian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,65},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>yandian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,16},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>yandian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,110},{16,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,41}}</string>
                <key>sourceSize</key>
                <string>{16,41}</string>
            </dict>
            <key>yandian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>yandian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,66},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>yandian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,77},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>yandian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,115},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>yandian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,104},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>yandian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,67},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>yandian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,62},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>yandian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,47},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>yandian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,115},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>yandian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>yandian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,75},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>yandian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,65},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>yandian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,65},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>yandian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,35},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>yandian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,47},{16,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,37}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>yandian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{17,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,62}}</string>
                <key>sourceSize</key>
                <string>{17,62}</string>
            </dict>
            <key>yandian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>yandian_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>yandian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>yandian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{33,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,68}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>yandian_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,30},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>yandian_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{735,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98aaf264501e9b5b3541aaae68cade3d:a811ae4ba649946beff420238a0c98ce:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
