<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhlx_pg_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{121,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{121,140}}</string>
                <key>sourceSize</key>
                <string>{129,146}</string>
            </dict>
            <key>qhlx_pg_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,142}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{197,142}}</string>
                <key>sourceSize</key>
                <string>{213,154}</string>
            </dict>
            <key>qhlx_pg_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{127,129}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>qianhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,266},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>qianhe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,586},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>qianhe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,336},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>qianhe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,381},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>qianhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,515},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>qianhe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,517},{38,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,11}}</string>
                <key>sourceSize</key>
                <string>{38,11}</string>
            </dict>
            <key>qianhe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,534},{19,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>qianhe_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,595},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>qianhe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,287},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>qianhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,559},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>qianhe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,594},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>qianhe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,568},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>qianhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,586},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>qianhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,167},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>qianhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,589},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>qianhe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,583},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>qianhe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,511},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>qianhe_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,568},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>qianhe_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,275},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>qianhe_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,275},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>qianhe_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,595},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>qianhe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,581},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>qianhe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,581},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>qianhe_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>qianhe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,471},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>qianhe_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,235},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>qianhe_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,75},{10,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{10,32}</string>
            </dict>
            <key>qianhe_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,594},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>qianhe_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,586},{8,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>qianhe_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,597},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>qianhe_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,262},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>qianhe_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,424},{34,45}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{34,45}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,469},{36,47}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,518},{30,39}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{30,39}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,468},{52,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{52,35}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,493},{38,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{38,39}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,371},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,422},{44,51}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,424},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,43}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>qianhe_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,111},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>qianhe_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,410},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>qianhe_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,347},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>qianhe_c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,534},{31,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,53}}</string>
                <key>sourceSize</key>
                <string>{31,53}</string>
            </dict>
            <key>qianhe_c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,199},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>qianhe_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,378},{58,47}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{58,47}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,275},{94,79}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{94,79}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,511},{94,81}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{94,81}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,192},{98,81}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{98,81}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,111},{100,79}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{100,79}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d19.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,266},{100,81}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{100,81}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{118,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{118,95}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d22.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,146},{118,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{118,95}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d23.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,144},{116,87}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{116,87}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d24.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,453},{80,77}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,9},{80,77}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,378},{90,73}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{90,73}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,299},{94,77}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{94,77}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,349},{96,79}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{96,79}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,430},{96,79}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{96,79}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>qianhe_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,347},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>qianhe_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,530},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>qianhe_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,132},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>qianheyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,532},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>renhaung_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{154,113}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{154,113}}</string>
                <key>sourceSize</key>
                <string>{190,125}</string>
            </dict>
            <key>renhaung_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{144,107}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{144,107}}</string>
                <key>sourceSize</key>
                <string>{190,125}</string>
            </dict>
            <key>renhaung_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{126,105}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,7},{126,105}}</string>
                <key>sourceSize</key>
                <string>{190,125}</string>
            </dict>
            <key>up_qianhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,453},{77,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,21}}</string>
                <key>sourceSize</key>
                <string>{77,21}</string>
            </dict>
            <key>up_qianhe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,557},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>up_qianhe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,557},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>up_qianhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,594},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>up_qianhe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,596},{38,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,12}}</string>
                <key>sourceSize</key>
                <string>{38,12}</string>
            </dict>
            <key>up_qianhe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,287},{18,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,47}}</string>
                <key>sourceSize</key>
                <string>{18,47}</string>
            </dict>
            <key>up_qianhe_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,595},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>up_qianhe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,532},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>up_qianhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,596},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>up_qianhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,140},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>up_qianhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,469},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>up_qianhe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,349},{23,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>up_qianhe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,586},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>up_qianhe_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,596},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>up_qianhe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,522},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>up_qianhe_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,111},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>up_qianhe_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,410},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>up_qianhe_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,111},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>up_qianhe_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,438},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>up_qianhe_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,385},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>up_qianhe_c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,438},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>up_qianhe_c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>up_qianhe_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,75},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{512,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa78defd3e2d88d62ac88ae2150d7cf8:763a034d4a955485c49863f3438e108f:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
