<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhhbj_xz_sj_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,376},{6,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{6,126}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{44,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{44,126}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{46,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{46,124}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,124}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{56,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{56,122}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{56,122}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{20,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{20,112}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,630},{16,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,108}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,630},{14,106}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{14,106}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>hhhbj_xz_sj_a_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,504},{8,108}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{8,108}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{60,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083521b01e2647b6587040a2ca2e0f28:ca932aaff6a2badb1111d4bdb5199090:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
