<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhlx_tianjihuopao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{274,28}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,37},{274,28}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{330,28}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,37},{330,28}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,977},{480,44}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,29},{480,44}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,726},{528,46}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,28},{528,46}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,194},{530,46}}</string>
                <key>offset</key>
                <string>{39,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,28},{530,46}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,774},{522,44}}</string>
                <key>offset</key>
                <string>{67,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,29},{522,44}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{614,94}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{614,94}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{614,94}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{614,94}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{634,94}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{634,94}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{652,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{652,94}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{614,78}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{614,78}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{614,74}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{614,74}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{614,78}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{614,78}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{612,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{612,72}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_tianjihuopao_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,820},{370,78}}</string>
                <key>offset</key>
                <string>{66,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,11},{370,78}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>qhlx_zhixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,900},{491,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,75}}</string>
                <key>sourceSize</key>
                <string>{491,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{666,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ca09eb37c09a53ad04489d9b8e6259:64b670a407a2286d86d8c8c75e57225c:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
