<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhaguangxiao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,356},{142,167}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{142,167}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhaguangxiao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{154,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{154,179}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhaguangxiao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,213}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{190,213}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhaguangxiao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,398},{100,147}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,26},{100,147}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhaguangxiao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{100,151}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{100,151}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhaguangxiao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,173},{98,153}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,19},{98,153}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhaguangxiao0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{98,153}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,19},{98,153}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhayanwu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,217},{136,175}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{136,175}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhayanwu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{136,175}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{136,175}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhayanwu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,179},{136,175}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{136,175}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhayanwu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{134,173}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{134,173}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>baozhayanwu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{132,169}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{132,169}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>kapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,177},{130,173}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,173}}</string>
                <key>sourceSize</key>
                <string>{134,177}</string>
            </dict>
            <key>shandian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,382},{92,56}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{92,56}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,382},{98,112}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{98,112}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,352},{92,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,206},{90,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,298},{82,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>shandian0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,382},{74,92}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{74,92}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{813,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de9c249d99a29a8e0f8560c60a19533:a8a92347b6b5e4f7397e846cc131c0ec:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
