<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wy_dzc_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,406},{80,34}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{80,34}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,284},{120,64}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{120,64}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,144},{138,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{138,84}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,84}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{140,84}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{140,86}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{140,86}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{142,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{142,88}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{144,90}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{144,90}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{144,90}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
            <key>wy_dzc_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{144,90}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{144,90}}</string>
                <key>sourceSize</key>
                <string>{182,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{234,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea7d15483102c294a14424b2674cc21:a78a08b50cccbd471a0e9b7cd228dee2:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
