<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_std_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>sm_std_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{29,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f4986f397c3f3bf41ea60676f06f00:80786813536773924b7bad210b67e823:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
