<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yf_dzb_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,835},{169,147}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{169,147}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,157},{181,151}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{181,151}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,451},{181,149}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{181,149}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,652},{181,149}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{181,149}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{175,151}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{175,151}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,602},{179,147}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{179,147}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,783},{179,147}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{179,147}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{181,143}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{181,143}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{181,151}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{181,151}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,634},{181,151}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{181,151}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,787},{177,153}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{177,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{181,153}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{181,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,451},{181,153}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{181,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,155},{183,147}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{183,147}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,153}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{187,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{187,153}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{187,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{187,151}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{187,151}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,497},{183,153}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{183,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{183,153}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{183,153}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{185,149}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{185,149}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,157},{183,145}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{183,145}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,304},{183,145}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{183,145}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{187,149}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{187,149}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,602},{175,145}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{175,145}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,405},{175,143}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,143}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,310},{163,139}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{163,139}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,340},{153,143}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{153,143}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
            <key>yf_dzb_a_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,310},{133,93}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,71},{133,93}}</string>
                <key>sourceSize</key>
                <string>{197,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{857,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60141c12a4f997711cfd890e8bfb2d08:b0a4390c4e27e5c1c8a9f1a2de038a30:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
