<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zdsl_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,448},{31,30}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,75},{31,30}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{175,166}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,14},{175,166}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,442},{209,194}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{209,194}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,432},{223,198}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{223,198}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{233,202}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{233,202}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,237},{243,206}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{243,206}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,220},{251,210}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{251,210}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,224},{261,216}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{261,216}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{271,222}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{271,222}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,220}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{281,220}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{253,216}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{253,216}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{259,220}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{259,220}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
            <key>zdsl_a_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,482},{149,104}}</string>
                <key>offset</key>
                <string>{25,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,45},{149,104}}</string>
                <key>sourceSize</key>
                <string>{291,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1007,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3fc531d049101ef75692b36848a5a84:a4d42e9ffc6522c24c2c508c627b7a29:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
