<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mw_dzb_a_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,230},{136,250}}</string>
                <key>offset</key>
                <string>{-52,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{136,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{288,280}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{288,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,288},{300,282}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{300,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{288,284}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{288,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,284}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,286}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,576},{276,266}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{276,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,572},{276,260}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{276,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mw_dzb_a_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{168,226}}</string>
                <key>offset</key>
                <string>{-28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{168,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{814,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a95fe1976ad06cbad2df5d275a005f30:4db3e5b434b19924059eebbf1c0ecf16:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
