<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maoqian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,898},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>maoqian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,818},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>maoqian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,896},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>maoqian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,937},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>maoqian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,867},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>maoqian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,891},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>maoqian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,922},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>maoqian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,646},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>maoqian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,891},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>maoqian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,738},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>maoqian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,832},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>maoqian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,867},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>maoqian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,490},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>maoqian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,646},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>maoqian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,276},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>maoqian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,898},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>maoqian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,959},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>maoqian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,898},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>maoqian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,959},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>maoqian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,544},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>maoqian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,959},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>maoqian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,646},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>maoqian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>maoqian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,743},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>maoqiansui_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,658},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>mqs_dz_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{95,53}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,37},{95,53}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,101},{125,81}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{125,81}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,551},{127,87}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{127,87}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,468},{127,91}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{127,91}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,454},{129,95}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{129,95}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,101},{135,95}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{135,95}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{145,97}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{145,97}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,101}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{149,101}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{145,103}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{145,103}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{133,99}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{133,99}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,714},{123,99}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{123,99}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,361},{127,97}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,97}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,561},{125,95}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{125,95}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,276},{129,95}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{129,95}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{137,99}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{137,99}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{141,97}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{141,97}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{133,99}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{133,99}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,260},{133,99}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{133,99}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{143,99}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{143,99}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{141,97}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{141,97}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{141,97}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{141,97}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{143,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{143,97}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,373},{129,93}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{129,93}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,361},{133,91}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{133,91}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,228},{131,87}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{131,87}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,101},{137,81}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{137,81}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,658},{115,83}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{115,83}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,815},{121,81}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{121,81}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,561},{109,83}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{109,83}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_dz_a_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,898},{57,59}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{57,59}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>mqs_xz_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,790},{28,26}}</string>
                <key>offset</key>
                <string>{-49,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{28,26}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{108,52}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{108,52}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,743},{80,72}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{80,72}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,817},{74,76}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{74,76}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,820},{70,74}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,911},{64,52}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,21},{64,52}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,640},{126,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{126,72}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,198},{134,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{134,76}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,184},{136,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{136,74}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>mqs_xz_a_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,790},{34,26}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{34,26}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>up_maoqian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,895},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>up_maoqian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,844},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>up_maoqian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,790},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>up_maoqian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,937},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>up_maoqian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,718},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>up_maoqian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,936},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>up_maoqian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,665},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>up_maoqian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,891},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>up_maoqian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,867},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>up_maoqian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,517},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>up_maoqian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,818},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>up_maoqian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,925},{26,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>up_maoqian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,896},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>up_maoqian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,490},{74,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,59}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{512,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66cbcf80837a5993bce22c40196bfeb5:17a24f15ce32e3b7dd411fe0a03d61e2:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
