<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tp_a_00097.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,174},{50,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{50,50}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00101.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,174},{66,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{66,66}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00105.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,90},{82,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{82,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00109.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,174},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{84,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00125.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00129.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,88},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00133.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00137.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,88},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00205.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00209.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tp_a_00213.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,88},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{440,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f620942718d1d4e131a6bfc82a8414c:a8bd9c80629723604a4385a35e24512a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
