<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_click_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{23,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,7}}</string>
                <key>sourceSize</key>
                <string>{23,7}</string>
            </dict>
            <key>boss_click_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,34},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>boss_click_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,37}}</string>
                <key>sourceSize</key>
                <string>{262,37}</string>
            </dict>
            <key>boss_click_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,11},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{296,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a1b0e31482768cf6a5cfb0fea1ddb7:8c226e7f6d144e71169c6cec78fa6843:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
