<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxcs_shandian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{32,200}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{32,200}}</string>
                <key>sourceSize</key>
                <string>{90,204}</string>
            </dict>
            <key>yxcs_shandian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{46,168}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{46,168}}</string>
                <key>sourceSize</key>
                <string>{90,204}</string>
            </dict>
            <key>yxcs_shandian_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{58,116}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,75},{58,116}}</string>
                <key>sourceSize</key>
                <string>{90,204}</string>
            </dict>
            <key>yxcs_shandian_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,98}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,94},{60,98}}</string>
                <key>sourceSize</key>
                <string>{90,204}</string>
            </dict>
            <key>yxcs_shandian_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{42,88}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,102},{42,88}}</string>
                <key>sourceSize</key>
                <string>{90,204}</string>
            </dict>
            <key>yxcs_shandian_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{44,86}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,104},{44,86}}</string>
                <key>sourceSize</key>
                <string>{90,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{64,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bfbd7bbc4fb7da8a26d8f87fd41c372:e9e31cb236e38726ffcb2276f0d791cf:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
