<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_xiaguangzhan_liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,222},{116,13}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{116,13}}</string>
                <key>sourceSize</key>
                <string>{120,21}</string>
            </dict>
            <key>js_xiaguangzhan_liefeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,237},{116,13}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{116,13}}</string>
                <key>sourceSize</key>
                <string>{120,21}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{14,10}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{14,10}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,170},{60,18}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{60,18}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,232},{86,18}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{86,18}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,232},{90,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{90,22}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,220},{92,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{92,26}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{96,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{96,22}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,140},{98,18}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{98,18}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,126},{102,12}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{102,12}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,64},{104,16}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{104,16}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,190},{40,20}}</string>
                <key>offset</key>
                <string>{32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,13},{40,20}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>js_xiaguangzhan_shitou0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,18},{12,10}}</string>
                <key>offset</key>
                <string>{47,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,16},{12,10}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>wy_dazhao_daolun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,166}}</string>
                <key>sourceSize</key>
                <string>{180,168}</string>
            </dict>
            <key>wy_dazhao_daolun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{168,166}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,166}}</string>
                <key>sourceSize</key>
                <string>{180,168}</string>
            </dict>
            <key>wy_dazhao_jianshe0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,64},{129,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,64},{131,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,158},{129,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{131,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,170},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,64},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,158},{129,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,160},{129,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,64},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>wy_dazhao_jianshe0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{135,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,60}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,126},{142,30}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,126},{146,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,126},{140,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,158},{138,30}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{128,30}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,222},{124,30}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,220},{120,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>yy_caijuezhijian_huichen0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,220},{112,28}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{112,28}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{904,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05769692102014c6e6eddf63ef24a04b:f5ba49615938cdc8b12788315ab3713f:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
