<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,391},{571,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,178}}</string>
                <key>sourceSize</key>
                <string>{571,178}</string>
            </dict>
            <key>levelup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{542,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,215}}</string>
                <key>sourceSize</key>
                <string>{542,215}</string>
            </dict>
            <key>levelup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,391},{536,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,50}}</string>
                <key>sourceSize</key>
                <string>{536,50}</string>
            </dict>
            <key>levelup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,840},{536,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,50}}</string>
                <key>sourceSize</key>
                <string>{536,50}</string>
            </dict>
            <key>levelup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,387}}</string>
                <key>sourceSize</key>
                <string>{448,387}</string>
            </dict>
            <key>levelup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,570},{268,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,426}}</string>
                <key>sourceSize</key>
                <string>{268,426}</string>
            </dict>
            <key>levelup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,284},{284,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,435}}</string>
                <key>sourceSize</key>
                <string>{284,435}</string>
            </dict>
            <key>levelup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{475,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,280}}</string>
                <key>sourceSize</key>
                <string>{475,280}</string>
            </dict>
            <key>sz_fg_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{125,80}}</string>
                <key>offset</key>
                <string>{-52,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{125,80}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,892},{129,100}}</string>
                <key>offset</key>
                <string>{-50,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{129,100}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,892},{139,110}}</string>
                <key>offset</key>
                <string>{-45,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{139,110}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,435},{147,114}}</string>
                <key>offset</key>
                <string>{-36,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{147,114}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,892},{135,114}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{135,114}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,892},{135,114}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{135,114}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,284},{149,114}}</string>
                <key>offset</key>
                <string>{35,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{149,114}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,584},{141,112}}</string>
                <key>offset</key>
                <string>{43,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,2},{141,112}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,727},{129,102}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,12},{129,102}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
            <key>sz_fg_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,129},{125,80}}</string>
                <key>offset</key>
                <string>{51,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,34},{125,80}}</string>
                <key>sourceSize</key>
                <string>{229,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1011,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01909b43aad363f20fc7decc28a445a9:e3173734b88fca3d6d57a194757a9438:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
