<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ygyy_zidan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{316,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{316,44}}</string>
                <key>sourceSize</key>
                <string>{330,54}</string>
            </dict>
            <key>ygyy_zidan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,46}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{322,46}}</string>
                <key>sourceSize</key>
                <string>{330,54}</string>
            </dict>
            <key>ygyy_zidan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{314,46}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{314,46}}</string>
                <key>sourceSize</key>
                <string>{330,54}</string>
            </dict>
            <key>ygyy_zidan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,50},{304,46}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{304,46}}</string>
                <key>sourceSize</key>
                <string>{330,54}</string>
            </dict>
            <key>ygyy_zidan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,48},{290,46}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{290,46}}</string>
                <key>sourceSize</key>
                <string>{330,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{916,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efbef3cacac1bdf83005698a43c75ed2:2b2e5edf2ff635bfe94e1395272d87ea:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
