<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxhz_pzsl_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,142},{135,65}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,25},{135,65}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{145,71}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{145,71}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{147,65}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{147,65}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,71}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{155,71}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,71},{139,69}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{139,69}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{149,67}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{149,67}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{155,59}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{155,59}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,209},{163,43}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{163,43}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,112},{163,45}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{163,45}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,159},{163,45}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{163,45}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,63},{163,47}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{163,47}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{15,15}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,75},{15,15}}</string>
                <key>sourceSize</key>
                <string>{195,105}</string>
            </dict>
            <key>yxhz_pzsl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,159},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>yxhz_pzsl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,206},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>yxhz_pzsl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,206},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>yxhz_pzsl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,206},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>yxhz_pzsl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{498,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:280927ef08b52ad6f427eb80bc963bd4:883920d95a038cbe3f8c48bee6d34ab2:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
