<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfll_pgfd_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,35}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>sfll_pgfd_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>sfll_pgfd_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{59,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,35}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>sfll_pgfd_a_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,35}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{252,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:129f5ba3466299b9bc8e46f008645b1f:4705e06a113eb5e09529387da60c9761:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
