<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daokanjida_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{30,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{30,39}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>daokanjida_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{34,33}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{34,33}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>daokanjida_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{44,43}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{115,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ede51155de5a8f5dcdd38959cfd1736:390750cc271685aa186f3f87ead3f6a9:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
