<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbhq_sbfg_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,163}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{96,163}}</string>
                <key>sourceSize</key>
                <string>{148,183}</string>
            </dict>
            <key>bubai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,551},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>bubai_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,592},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>bubai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,531},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>bubai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,608},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>bubai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>bubai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,438},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>bubai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,66},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>bubai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,263},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>bubai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,283},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>bubai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,38},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>bubai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,332},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>bubai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,551},{33,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,13}}</string>
                <key>sourceSize</key>
                <string>{33,13}</string>
            </dict>
            <key>bubai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,227},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>bubai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,618},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>bubai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,482},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>bubai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,482},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>bubai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,605},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>bubai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,167},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>bubai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,618},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>bubai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,94},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>bubai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,305},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>bubai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,618},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>bubai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,620},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>bubai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,618},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>bubai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,566},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>bubai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,575},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>bubai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,624},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>bubai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,586},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>bubai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,205},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>bubai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,227},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>bubai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{115,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,131}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>bubai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{137,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,121}}</string>
                <key>sourceSize</key>
                <string>{137,121}</string>
            </dict>
            <key>bubai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{163,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,78}}</string>
                <key>sourceSize</key>
                <string>{163,78}</string>
            </dict>
            <key>bubai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,438},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>bubai_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,189},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>bubai_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,618},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>bubaigushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,566},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>bubaigushou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,294},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>honglian_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,125},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>mqs_xz_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,515},{39,34}}</string>
                <key>offset</key>
                <string>{-69,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{39,34}}</string>
                <key>sourceSize</key>
                <string>{221,114}</string>
            </dict>
            <key>mqs_xz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{151,72}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,30},{151,72}}</string>
                <key>sourceSize</key>
                <string>{221,114}</string>
            </dict>
            <key>mqs_xz_a_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,125},{111,100}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,8},{111,100}}</string>
                <key>sourceSize</key>
                <string>{221,114}</string>
            </dict>
            <key>mqs_xz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,227},{103,106}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{103,106}}</string>
                <key>sourceSize</key>
                <string>{221,114}</string>
            </dict>
            <key>mqs_xz_a_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,332},{99,104}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{99,104}}</string>
                <key>sourceSize</key>
                <string>{221,114}</string>
            </dict>
            <key>up_bubai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,438},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>up_bubai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,608},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>up_bubai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,618},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>up_bubai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,401},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>up_bubai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{34,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,13}}</string>
                <key>sourceSize</key>
                <string>{34,13}</string>
            </dict>
            <key>up_bubai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,470},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>up_bubai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,550},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>up_bubai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,605},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>up_bubai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,566},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>up_bubai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,618},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>up_bubai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,576},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>up_bubai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,597},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>up_bubai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,283},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{256,639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612dd82631fe65009dafe8dde22a5e86:15b23cbdf8f1f86f42497d0492243091:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
