<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kamiten.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{182,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,149}}</string>
                <key>sourceSize</key>
                <string>{182,151}</string>
            </dict>
            <key>kamiten_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,335},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>kamiten_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,159},{187,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{187,85}}</string>
                <key>sourceSize</key>
                <string>{189,85}</string>
            </dict>
            <key>kamiten_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,262},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>kamiten_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,892},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>kamiten_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{171,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,198}}</string>
                <key>sourceSize</key>
                <string>{171,198}</string>
            </dict>
            <key>kamiten_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,402},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>kamiten_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,892},{43,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,65}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>kamiten_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,721},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>kamiten_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,111},{32,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,8}}</string>
                <key>sourceSize</key>
                <string>{32,8}</string>
            </dict>
            <key>kamiten_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{164,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,148}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>kamiten_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,861},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>kamiten_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,262},{49,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,18}}</string>
                <key>sourceSize</key>
                <string>{49,18}</string>
            </dict>
            <key>kamiten_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,764},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>kamiten_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,486},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>kamiten_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,764},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>kamiten_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,359},{161,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,128}}</string>
                <key>sourceSize</key>
                <string>{161,128}</string>
            </dict>
            <key>kamiten_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,155}}</string>
                <key>sourceSize</key>
                <string>{247,155}</string>
            </dict>
            <key>kamiten_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,959},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>kamiten_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,111},{149,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,83}}</string>
                <key>sourceSize</key>
                <string>{149,83}</string>
            </dict>
            <key>kamiten_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,961},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>kamiten_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,442},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>kamiten_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,650},{59,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>kamiten_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,721},{45,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>kamiten_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,828},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>kamiten_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,650},{133,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,112}}</string>
                <key>sourceSize</key>
                <string>{133,112}</string>
            </dict>
            <key>kamiten_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,897},{132,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,113}}</string>
                <key>sourceSize</key>
                <string>{132,113}</string>
            </dict>
            <key>kamiten_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,522},{134,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,126}}</string>
                <key>sourceSize</key>
                <string>{134,126}</string>
            </dict>
            <key>kamiten_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{107,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,98}}</string>
                <key>sourceSize</key>
                <string>{107,98}</string>
            </dict>
            <key>kamiten_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{118,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,100}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>kamiten_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{186,158}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{186,158}}</string>
                <key>sourceSize</key>
                <string>{252,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{351,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c47709a8899d8717b3bf95b9fc2eff3f:c151939c2470bbf29bf49afcc799df51:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
