<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhlx_xzb_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,60},{60,63}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{60,63}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{56,83}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{56,83}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{68,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{68,107}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,109}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,109}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{70,105}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{66,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,103}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{62,97}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{62,97}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>qhlx_xzb_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{60,95}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{60,95}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{497,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b94250a29e64b806c7dededb2e2981:a3530abeaa62838c2bb89791bc913884:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
