<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonfire.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{122,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,65}}</string>
                <key>sourceSize</key>
                <string>{122,65}</string>
            </dict>
            <key>gh_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,302}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,70},{276,302}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{274,304}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,69},{274,304}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{272,300}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,72},{272,300}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{270,302}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,71},{270,302}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,306},{266,300}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,71},{266,300}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,608},{264,300}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,73},{264,300}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,306},{266,302}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,71},{266,302}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>gh_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,612},{268,300}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,71},{268,300}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{814,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d0ce5d4da6df760d9a9b5dab3b564c5:d6be4eec1525c4c03f50538c06df2d8d:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
