<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhs_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,71},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,140},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,209},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,278},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,557},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,557},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,557},{66,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hhs_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{231,210}}</string>
                <key>sourceSize</key>
                <string>{245,242}</string>
            </dict>
            <key>hhs_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{221,200}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{221,200}}</string>
                <key>sourceSize</key>
                <string>{245,242}</string>
            </dict>
            <key>hhs_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,216},{209,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{209,188}}</string>
                <key>sourceSize</key>
                <string>{245,242}</string>
            </dict>
            <key>hhs_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,216},{199,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{199,164}}</string>
                <key>sourceSize</key>
                <string>{245,242}</string>
            </dict>
            <key>hhs_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,417},{189,132}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,52},{189,132}}</string>
                <key>sourceSize</key>
                <string>{245,242}</string>
            </dict>
            <key>hhs_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,396},{89,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{89,82}}</string>
                <key>sourceSize</key>
                <string>{245,242}</string>
            </dict>
            <key>hhs_c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,268},{38,40}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,96},{38,40}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{132,136}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,49},{132,136}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,427},{200,196}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{200,196}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{212,206}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{212,206}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,225},{216,210}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{216,210}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{226,216}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{226,216}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,443},{112,116}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,59},{112,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,347},{94,96}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,67},{94,96}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,278},{114,116}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,58},{114,116}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,136},{136,130}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{136,130}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,463},{142,136}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,51},{142,136}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{160,152}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,44},{160,152}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,443},{176,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{176,168}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>hhs_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{188,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{188,182}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1014,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7990f45c9de989d93f0332d2c29e748a:ffd8440f7acb51fb571e67c589b9bacf:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
