<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxcs_miemosha_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{330,324}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{330,324}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,302}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{356,302}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{368,274}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{368,274}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{374,238}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,92},{374,238}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,432},{372,194}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,136},{372,194}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,628},{376,152}}</string>
                <key>offset</key>
                <string>{7,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,178},{376,152}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,278},{378,152}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,178},{378,152}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,632},{382,154}}</string>
                <key>offset</key>
                <string>{4,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,176},{382,154}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_quanquan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,741},{158,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{158,34}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
            <key>yxcs_miemosha_quanquan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,707},{166,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{166,32}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
            <key>yxcs_miemosha_quanquan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,160},{166,26}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{166,26}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
            <key>yxcs_miemosha_quanquan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,777},{152,30}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{152,30}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
            <key>yxcs_miemosha_quanquan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,741},{146,32}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{146,32}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
            <key>yxcs_miemosha_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,486},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,348},{176,136}}</string>
                <key>offset</key>
                <string>{-11,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,178},{176,136}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,555},{184,150}}</string>
                <key>offset</key>
                <string>{-12,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,166},{184,150}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,160},{186,152}}</string>
                <key>offset</key>
                <string>{-12,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,165},{186,152}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{190,156}}</string>
                <key>offset</key>
                <string>{-12,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,162},{190,156}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,826},{194,160}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,160},{194,160}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,826},{194,160}}</string>
                <key>offset</key>
                <string>{-12,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,160},{194,160}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>yxcs_miemosha_xiaosan0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,628},{196,162}}</string>
                <key>offset</key>
                <string>{-12,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,159},{196,162}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{922,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb6a8dd440e92162876fa78a3858936f:14df8c93b0ba23b50cf5931a3dfc84ac:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
