<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiuzangfo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,509},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>jiuzangfo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,618},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>jiuzangfo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,516},{14,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,49}}</string>
                <key>sourceSize</key>
                <string>{14,49}</string>
            </dict>
            <key>jiuzangfo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,581},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>jiuzangfo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,555},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>jiuzangfo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{62,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>jiuzangfo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,567},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>jiuzangfo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,367},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>jiuzangfo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,328},{20,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,37}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
            <key>jiuzangfo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,479},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>jiuzangfo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>jiuzangfo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,162},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>jiuzangfo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,204},{19,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
            <key>jiuzangfo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>jiuzangfo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,439},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>jiuzangfo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>jiuzangfo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,604},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>jiuzangfo_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,637},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>jiuzangfo_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,547},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>jiuzangfo_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,605},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>jiuzangfo_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,575},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>jiuzangfo_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,674},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>jiuzangfo_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,617},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>jiuzangfo_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>jiuzangfo_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,647},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>jiuzangfo_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,516},{37,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,12}}</string>
                <key>sourceSize</key>
                <string>{39,12}</string>
            </dict>
            <key>jiuzangfo_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,270},{7,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,76}}</string>
                <key>sourceSize</key>
                <string>{7,76}</string>
            </dict>
            <key>jiuzangfo_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,469},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>jiuzangfo_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_jiuzangfo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,609},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>up_jiuzangfo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>up_jiuzangfo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,435},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>up_jiuzangfo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>up_jiuzangfo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,398},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>up_jiuzangfo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,246},{19,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
            <key>up_jiuzangfo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>up_jiuzangfo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,288},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>up_jiuzangfo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>up_jiuzangfo_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,103}}</string>
                <key>sourceSize</key>
                <string>{158,103}</string>
            </dict>
            <key>up_jiuzangfo_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,668},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{107,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9336b1483d3a9458fc3b84d149464dff:2496e163c0f05771659ca46f838f0a81:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
