<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>renhaung_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{108,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{108,94}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>renhaung_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{108,86}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{108,86}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>renhaung_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{108,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{108,94}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>renhaung_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{110,92}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{114,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8418d4d879528a6869846af9d118bc9d:779b637732ac75b292a3ab387991a1a5:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
