<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piaochong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{54,54}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>piaochong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{60,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{60,52}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>piaochong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{78,52}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>piaochong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{82,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{82,52}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{284,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72cb907083be6a32976862b847a7ada2:e7009f96003fc633a22eed331b3ff10e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
