<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhssf_a1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{146,120}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,146},{142,124}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{142,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,492},{144,132}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{144,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,120},{146,120}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{146,126}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{146,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,116}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{148,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,364},{146,124}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{146,128}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{146,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,366},{146,124}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{142,120}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,46},{142,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{146,120}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,290},{142,124}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{142,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,578},{144,132}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{144,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,120},{146,120}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,742},{146,126}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{146,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,116}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{148,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{146,124}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,870},{146,128}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{146,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,490},{146,124}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,242},{144,122}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,44},{144,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,120},{146,120}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,364},{142,124}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{142,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,638},{144,132}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{144,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{146,120}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,744},{146,126}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{146,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,116}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{148,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,492},{146,124}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,870},{146,128}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{146,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{146,124}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,242},{142,120}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,46},{142,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,120},{146,120}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,434},{142,124}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{142,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,724},{144,132}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{144,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,242},{146,120}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,784},{146,126}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{146,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,116}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{148,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,616},{146,124}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,872},{146,128}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{146,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,618},{146,124}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hhssf_a_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{144,122}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,44},{144,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{724,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f27651d99e087048b1044ca9e052778:d16a110b4badec360819702effd3ffe6:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
