<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smr_dz_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{132,116}}</string>
                <key>offset</key>
                <string>{5,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,299},{132,116}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
            <key>smr_dz_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,192},{288,406}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{288,406}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
            <key>smr_dz_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{228,412}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{228,412}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
            <key>smr_dz_a_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{210,410}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{210,410}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
            <key>smr_dz_a_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,422}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{190,422}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
            <key>smr_dz_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{188,386}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,18},{188,386}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
            <key>smr_dz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,416},{178,384}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,18},{178,384}}</string>
                <key>sourceSize</key>
                <string>{290,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1024,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0eafe48f0cc8d2216057e9fc580c75:1293844f0696f9c3a732b866f609c56e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
