<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guijiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{42,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>guijiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>guijiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,21},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>guijiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,55},{27,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,7}}</string>
                <key>sourceSize</key>
                <string>{27,7}</string>
            </dict>
            <key>guijiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>guijiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>guijiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>guijiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,39},{59,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,20}}</string>
                <key>sourceSize</key>
                <string>{59,20}</string>
            </dict>
            <key>guijiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>guijiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,30},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>guijiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,39},{35,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,14}}</string>
                <key>sourceSize</key>
                <string>{35,14}</string>
            </dict>
            <key>guijiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>guijiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>guijiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,39},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>guijiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,48},{31,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>guijiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>guijiao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,39},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>guijiao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>guijiao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,39},{31,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>guijiao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,39},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>guijiao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,48},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>guijiao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,25},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>guijiao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>quanji_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{35,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>quanji_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{35,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>quanji_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{35,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>quanji_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{494,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60ece80cf448cdec17e6e85c2e33ce7:64c8b67db2c6c00e0d22d4e924141880:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
