<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1_boom0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,537},{98,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{98,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,801},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{102,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,905},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{102,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,388},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,656},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{114,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,540},{126,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{126,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,880},{138,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{138,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,398},{150,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{142,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{142,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_boom0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{142,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{142,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boss1_wait0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,669},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,669},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,958},{58,60}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,727},{60,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,603},{56,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,66}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,727},{56,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,66}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,533},{58,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,886},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,504},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,564},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,622},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,898},{60,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,504},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,907},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss1_wait0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,727},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,958},{60,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,221},{60,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,801},{60,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,836},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,775},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,837},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,909},{60,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,791},{58,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,899},{56,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,851},{58,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,564},{58,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,785},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,865},{60,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,661},{60,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss2_wait0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,639},{60,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,915},{60,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,787},{58,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,847},{58,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,680},{56,56}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,911},{58,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,958},{58,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,929},{60,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,603},{60,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,707},{60,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,291},{60,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,533},{60,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,772},{60,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,847},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,791},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss3_wait0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,853},{60,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>boss4_boom0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{211,219}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{211,219}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{233,225}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{233,225}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{235,223}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{235,223}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,677},{201,143}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{201,143}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,545},{113,109}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,62},{113,109}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,545},{113,109}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,62},{113,109}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,388},{139,143}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{139,143}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,656},{139,143}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{139,143}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,398},{141,145}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{141,145}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,390},{141,145}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{141,145}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,225},{171,157}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{171,157}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,215},{187,173}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{187,173}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,201},{201,185}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{201,185}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{215,197}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{215,197}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{225,207}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{225,207}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{233,217}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{233,217}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>boss4_boom0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,221}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{241,221}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{943,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eadbe2a83c9e4f31f5d2f9c9a90f489:4923de5ee1c3d1af4c5e0f29ca3b7caf:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
