<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_nai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>a_nai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,39},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>a_nai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>a_nai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>a_nai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>nai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,39},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>nai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>nai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,34},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>nai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,32},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>nai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,39},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>nai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,38},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>nai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>nai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,38},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{8,21}</string>
            </dict>
            <key>nai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,39},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>nai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,35},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>nai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,35},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>nai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,39},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>nai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>nai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,39},{8,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,22}}</string>
                <key>sourceSize</key>
                <string>{8,22}</string>
            </dict>
            <key>nai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>nai_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{321,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a53c53a1bea762b83c9a7204280af4b2:3ab6913e5777e24e2c23f0ccfb7ebb88:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
