<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tp_c_00094.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,158},{102,91}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{102,91}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00102.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,435},{122,119}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,48},{122,119}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{118,123}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{118,123}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00110.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,731},{118,123}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,49},{118,123}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00114.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,310},{120,123}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,49},{120,123}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{136,129}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{136,129}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{140,129}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,48},{140,129}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{146,129}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,48},{146,129}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{150,139}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,42},{150,139}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>tp_c_00138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,141}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{154,141}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton1.png</string>
            <key>size</key>
            <string>{255,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ceba958f406cd3c6270c7734d987a0f:dbdd203bc242ca82eeec8e705e31d37f:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton1.png</string>
        </dict>
    </dict>
</plist>
