<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jmyh_xz_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{58,62}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,24},{58,62}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{66,74}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,18},{66,74}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{68,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{68,76}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{66,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{66,62}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{68,76}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{68,76}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{66,64}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{66,64}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{68,66}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{68,66}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{66,60}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{66,60}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,542},{46,70}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{46,70}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,412},{44,62}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{44,62}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,614},{46,58}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{46,58}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{98,72}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{98,72}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{82,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{82,100}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{88,104}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{88,104}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,106}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{92,106}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,674},{54,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,24},{54,64}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,344},{44,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{44,66}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,476},{42,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{42,64}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>jmyh_xz_a_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,740},{42,62}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{42,62}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{126,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19e639fd2608a7654454f84746708c7:bfb3f274fc340beee852a4b1e5f3ad78:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
