<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiazuyun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,114}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{276,114}}</string>
                <key>sourceSize</key>
                <string>{364,162}</string>
            </dict>
            <key>jiazuyun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{217,74}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{217,74}}</string>
                <key>sourceSize</key>
                <string>{283,132}</string>
            </dict>
            <key>jiazuyun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,78},{142,25}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{142,25}}</string>
                <key>sourceSize</key>
                <string>{202,65}</string>
            </dict>
            <key>jiazuyun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,59},{124,53}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{124,53}}</string>
                <key>sourceSize</key>
                <string>{154,107}</string>
            </dict>
            <key>jiazuyun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{238,55}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{238,55}}</string>
                <key>sourceSize</key>
                <string>{262,83}</string>
            </dict>
            <key>jiazuyun_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,59},{124,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{124,54}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{751,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbe473ecfa66e2312718e84dc4bd8032:5586ffeaae63cf4839ff51734437b6c3:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
