<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbhq_xza_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{127,36}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,37},{127,36}}</string>
                <key>sourceSize</key>
                <string>{189,88}</string>
            </dict>
            <key>bbhq_xza_a_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{117,64}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{117,64}}</string>
                <key>sourceSize</key>
                <string>{189,88}</string>
            </dict>
            <key>bbhq_xza_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,72}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{119,72}}</string>
                <key>sourceSize</key>
                <string>{189,88}</string>
            </dict>
            <key>bbhq_xza_a_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,131},{117,50}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{117,50}}</string>
                <key>sourceSize</key>
                <string>{189,88}</string>
            </dict>
            <key>bbhq_xza_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{53,38}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,13},{53,38}}</string>
                <key>sourceSize</key>
                <string>{189,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{120,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5634ba61b8e10326adfd92202b455d2:3ed28dba3fd51461537a955cba6dc83a:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
