<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,185},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>green_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,36},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>green_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,82},{11,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{11,31}}</string>
                <key>sourceSize</key>
                <string>{11,33}</string>
            </dict>
            <key>green_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{74,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>green_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,185},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>green_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,233},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>green_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,158},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>green_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,125},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>green_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,203},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>green_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,73},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>green_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,219},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>green_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{32,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>green_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,125},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>green_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,137},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>green_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,222},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>green_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,158},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>green_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,233},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>green_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,82},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>green_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,115},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>green_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,125},{13,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>green_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,92},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>green_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,142}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,142}}</string>
                <key>sourceSize</key>
                <string>{57,142}</string>
            </dict>
            <key>greenyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{114,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be36308067ccd349c594b7c0369e153:b12016d8876f765d5286701ff32b6682:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
