<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hbj_bainshenpugong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,348},{68,92}}</string>
                <key>offset</key>
                <string>{-1,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{68,92}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,940},{78,104}}</string>
                <key>offset</key>
                <string>{-2,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,28},{78,104}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,566},{82,106}}</string>
                <key>offset</key>
                <string>{-2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{82,106}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,914},{82,106}}</string>
                <key>offset</key>
                <string>{-3,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{82,106}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,434},{94,130}}</string>
                <key>offset</key>
                <string>{-2,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{94,130}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,674},{102,128}}</string>
                <key>offset</key>
                <string>{-2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{102,128}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,784},{106,130}}</string>
                <key>offset</key>
                <string>{-3,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{106,130}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,916},{104,106}}</string>
                <key>offset</key>
                <string>{1,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,31},{104,106}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,804},{102,108}}</string>
                <key>offset</key>
                <string>{2,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{102,108}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,418},{106,304}}</string>
                <key>offset</key>
                <string>{4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{106,304}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{110,344}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,15},{110,344}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,414}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{208,414}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{152,360}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{152,360}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{164,260}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,149},{164,260}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{172,202}}</string>
                <key>offset</key>
                <string>{1,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,218},{172,202}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,434},{172,202}}</string>
                <key>offset</key>
                <string>{1,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,218},{172,202}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,264},{170,168}}</string>
                <key>offset</key>
                <string>{0,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,249},{170,168}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,638},{144,156}}</string>
                <key>offset</key>
                <string>{3,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,259},{144,156}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
            <key>hbj_bainshenpugong_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,784},{146,154}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,258},{146,154}}</string>
                <key>sourceSize</key>
                <string>{210,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{536,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:878169314f1ad86ede335e70ea1ac0a9:90c813e2cf2555b208aa1b121ab94f93:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
