<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ybhm_ding_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,210},{134,148}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,39},{134,148}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{140,152}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{140,152}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,198},{128,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,27},{128,158}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,198},{92,156}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{92,156}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{78,154}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,21},{78,154}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{222,208}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{222,208}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{226,208}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{222,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{222,206}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{208,194}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{208,194}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,212},{132,158}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{132,158}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,210},{130,158}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{130,158}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>ybhm_ding_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,212},{124,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,25},{124,144}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{974,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb00b71e4bd8d91d65ed255ce19d338:bb23eebdb2b05bffb6224dd44a0f250e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
