<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{146,52}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,122},{146,52}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{146,52}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,122},{146,52}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,632},{146,52}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,122},{146,52}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,358},{146,84}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,93},{146,84}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00101.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,632},{180,124}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,44},{180,124}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00103.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,224},{186,132}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{186,132}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00105.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,822},{194,150}}</string>
                <key>offset</key>
                <string>{-20,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{194,150}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{192,162}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{192,162}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00109.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,454},{194,160}}</string>
                <key>offset</key>
                <string>{-20,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{194,160}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{194,162}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{194,162}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{196,164}}</string>
                <key>offset</key>
                <string>{-21,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{196,164}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00131.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,358},{146,110}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,94},{146,110}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00133.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,814},{148,138}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,82},{148,138}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00135.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,470},{164,160}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{164,160}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00137.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,650},{176,170}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,70},{176,170}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00149.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{236,220}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{236,220}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{256,224}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{256,224}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,224}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{258,224}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00165.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,224},{122,90}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,90},{122,90}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton1.png</string>
            <key>size</key>
            <string>{556,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c30a7a0614d4de9c69e6d2ebd3fa50:3e49a40a12957f02faf0f71b7594ad64:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton1.png</string>
        </dict>
    </dict>
</plist>
