<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,736},{148,76}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,106},{148,76}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,806},{154,96}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,78},{154,96}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00091.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,462},{162,112}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,63},{162,112}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00113.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,808},{196,164}}</string>
                <key>offset</key>
                <string>{-21,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{196,164}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00117.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,806},{198,166}}</string>
                <key>offset</key>
                <string>{-22,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{198,166}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00119.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,636},{198,168}}</string>
                <key>offset</key>
                <string>{-22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{198,168}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00121.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,636},{200,170}}</string>
                <key>offset</key>
                <string>{-23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{200,170}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00123.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,462},{198,172}}</string>
                <key>offset</key>
                <string>{-22,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{198,172}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00125.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,462},{200,172}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{200,172}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00127.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,806},{152,106}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,67},{152,106}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00129.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,636},{146,98}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,96},{146,98}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00139.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,808},{184,176}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,68},{184,176}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{214,204}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{214,204}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00143.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,576},{206,214}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{206,214}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{260,228}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{260,228}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00155.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{260,228}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{260,228}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00157.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,232},{260,228}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{260,228}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00159.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{260,228}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{260,228}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00161.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,232},{260,228}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{260,228}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>2_00167.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,960},{46,28}}</string>
                <key>offset</key>
                <string>{55,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,153},{46,28}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
            <key>skeleton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{480,572}}</string>
                <key>sourceSize</key>
                <string>{484,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1022,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c30a7a0614d4de9c69e6d2ebd3fa50:3e49a40a12957f02faf0f71b7594ad64:cc9668e253151da3afa037647e9c4597$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
