<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fsl_xz_b_00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{133,80}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{133,80}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>fsl_xz_b_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,78}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{141,78}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>fsl_xz_b_00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{141,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{141,60}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>fsl_xz_b_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{131,34}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{131,34}}</string>
                <key>sourceSize</key>
                <string>{167,96}</string>
            </dict>
            <key>guai_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>jiansheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>jiansheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,92},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>jiansheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,60},{32,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,13}}</string>
                <key>sourceSize</key>
                <string>{32,13}</string>
            </dict>
            <key>jiansheng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,84},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>jiansheng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,82},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>jiansheng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,66},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>jiansheng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,100},{28,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,8}}</string>
                <key>sourceSize</key>
                <string>{28,8}</string>
            </dict>
            <key>jiansheng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,75},{31,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,13}}</string>
                <key>sourceSize</key>
                <string>{31,13}</string>
            </dict>
            <key>jiansheng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>jiansheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,90},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>jiansheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,73},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>jiansheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,37},{64,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>jiansheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,64},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>jiansheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,57},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>jiansheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,96},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>jiansheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{136,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,33}}</string>
                <key>sourceSize</key>
                <string>{136,33}</string>
            </dict>
            <key>jiansheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,91},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>jiansheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,86},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>jiansheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,93},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>jiansheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,89},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>jiansheng_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,98},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>jiansheng_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,64},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>jiansheng_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,65},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>jiansheng_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,98},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>jiansheng_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,39},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>jiansheng_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,86},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>jiansheng_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,98},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>jiansheng_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,66},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>jiansheng_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,90},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>jiansheng_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,96},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>jiansheng_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,89},{9,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>jiansheng_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,92},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>jiansheng_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,36},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>jiansheng_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,73},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>jiansheng_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,89},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>jiansheng_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,47},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>jiansheng_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,36},{22,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>jiansheng_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,60},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>jiansheng_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,100},{27,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,8}}</string>
                <key>sourceSize</key>
                <string>{27,8}</string>
            </dict>
            <key>jiansheng_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,74},{7,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,31}}</string>
                <key>sourceSize</key>
                <string>{7,31}</string>
            </dict>
            <key>jiansheng_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,90},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>jiansheng_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,91},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>jiansheng_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,64},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>jiansheng_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,36},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>jiansheng_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,38},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>js_pg_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{56,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,68}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>js_pg_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,38},{50,56}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>js_pg_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{56,26}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>up-jiansheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,37},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>up_jiansheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,40},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>up_jiansheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,92},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>up_jiansheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,60},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>up_jiansheng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,84},{35,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,12}}</string>
                <key>sourceSize</key>
                <string>{35,12}</string>
            </dict>
            <key>up_jiansheng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,82},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>up_jiansheng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,91},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>up_jiansheng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,87},{27,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,7}}</string>
                <key>sourceSize</key>
                <string>{27,7}</string>
            </dict>
            <key>up_jiansheng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,99},{31,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{31,9}</string>
            </dict>
            <key>up_jiansheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,38},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>up_jiansheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>up_jiansheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,83},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>up_jiansheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{136,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,32}}</string>
                <key>sourceSize</key>
                <string>{136,32}</string>
            </dict>
            <key>up_jiansheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,86},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>up_jiansheng_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,65},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>up_jiansheng_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,39},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>up_jiansheng_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,86},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>up_jiansheng_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,66},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>up_jiansheng_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,65},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>up_jiansheng_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,60},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>up_jiansheng_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,83},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>up_jiansheng_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,89},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>up_jiansheng_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,39},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>up_jiansheng_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,36},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>up_jiansheng_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,60},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>up_jiansheng_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,90},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>up_jiansheng_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,78},{7,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,29}}</string>
                <key>sourceSize</key>
                <string>{7,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1024,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc1c38e1cfb2702fce4ab02df13c783:7eb1c299ceb6a3886891d73fef3d3688:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
