<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanwusheng0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{50,148}}</string>
                <key>offset</key>
                <string>{17,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{50,148}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{54,160}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,20},{54,160}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,418},{74,172}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,49},{74,172}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,168},{74,164}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,81},{74,164}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,164},{96,168}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,113},{96,168}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,380},{110,282}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{110,282}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{122,282}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{122,282}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,494},{126,260}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{126,260}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{146,228}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,54},{146,228}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,492},{152,198}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,84},{152,198}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,182},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,97},{162,186}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,184},{164,194}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,89},{164,194}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,214},{166,202}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,83},{166,202}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,210}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,75},{170,210}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,176},{174,166}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,116},{174,166}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{178,174}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,108},{178,174}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{178,180}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,102},{178,180}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,482},{180,160}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{176,164}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,118},{176,164}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{170,172}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,111},{170,172}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,370},{110,174}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,108},{110,174}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,446},{92,178}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,103},{92,178}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,352},{92,180}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,100},{92,180}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>wanwusheng0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,334},{44,110}}</string>
                <key>offset</key>
                <string>{33,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,161},{44,110}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1015,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7130216e8f9422f1d6213aa847b72531:fa63a4d00bda372f77b4a396a3e85208:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
