<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yufeng_ooo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,170}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>yufeng_ooo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{151,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{151,168}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>yufeng_ooo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{153,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,168}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>yufeng_ooo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{155,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,166}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>yufeng_ooo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{153,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,168}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{775,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b79cff7794a1b1f00acbf1c36adfd5e:d123f07737c0d1a0ef673f908d3bcf50:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
