<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sqhh_b_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,199},{167,167}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{167,167}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{169,169}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{169,169}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{169,169}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{169,169}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{169,169}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{169,169}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,398},{169,169}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{169,169}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,569},{169,169}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{169,169}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,740},{169,169}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{169,169}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,507},{167,165}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,38},{167,165}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,845},{161,159}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{161,159}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,354},{151,153}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{151,153}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,676},{159,167}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{159,167}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{181,189}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{181,189}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{189,195}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{189,195}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,203}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{183,203}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
            <key>sqhh_b_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,199},{153,153}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{153,153}}</string>
                <key>sourceSize</key>
                <string>{227,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{512,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b798f01d07a08fe7a7da891063ef9943:a5f5b5c0782fe8ea428ddbb4cd46f4ae:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
