<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_shizhuanggaoliang0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,34},{30,6}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{30,6}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{56,14}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,59},{56,14}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{68,24}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,49},{68,24}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{66,32}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{66,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,36}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,36}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{62,30}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{62,30}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,18},{50,22}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{50,22}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shizhuanggaoliang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,28},{44,12}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{44,12}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{478,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34acd62a0ca18c3a375ede649e558db:4e8281d131464f9fc0c680df1c03ab7e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
