<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dhjs_b_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,158},{151,112}}</string>
                <key>offset</key>
                <string>{-42,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{151,112}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,349},{161,138}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{161,138}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{199,142}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{199,142}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{197,148}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{197,148}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{191,154}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{191,154}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,160}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{185,160}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,164},{183,160}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,5},{183,160}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>dhjs_b_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,311},{149,108}}</string>
                <key>offset</key>
                <string>{43,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,26},{149,108}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,462},{33,48}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{33,48}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>g11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,54},{41,32}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{41,32}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>g13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,311},{19,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{19,16}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,462},{45,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>g7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,105},{41,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{41,46}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>g9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,54},{49,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{49,40}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{458,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02345e05d66004b58235d9a7d1af0f07:a43b652042436a651fb1c780f92dffe0:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
