<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfxc_xzb_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>dfxc_xzb_a_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>dfxc_xzb_a_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{43,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{43,49}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>dfxc_xzb_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{45,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>dfxc_xzb_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{45,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>dfxc_xzb_a_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{45,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{282,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad8a7fafb0b0a409a8e03625c44ddf42:29fb536783326fb33cc89beaf6999650:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
