<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jxlr_dz_a_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,411},{33,38}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,100},{33,38}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,247},{133,162}}</string>
                <key>offset</key>
                <string>{-55,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{133,162}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,458},{197,170}}</string>
                <key>offset</key>
                <string>{-29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,1},{197,170}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,723},{257,176}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{257,176}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{267,180}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{267,180}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,458},{263,180}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{263,180}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,795},{279,202}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{279,202}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{337,226}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{337,226}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,226}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{339,226}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{337,226}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{337,226}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,230},{337,226}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{337,226}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{337,226}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{337,226}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,458},{335,224}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{335,224}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
            <key>jxlr_dz_a_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{243,106}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,85},{243,106}}</string>
                <key>sourceSize</key>
                <string>{353,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{815,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e76834d9b13c5b7bc6d11a00c9d3d9:e81a24d5eab3fbfaef8ea0221f9a36a1:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
