<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>a_purple_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,39},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>a_purple_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,38},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>fegnshilangfx_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>fegnshilangfx_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,39}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>fegnshilangfx_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{88,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,43},{30,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,11}}</string>
                <key>sourceSize</key>
                <string>{30,11}</string>
            </dict>
            <key>purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>purple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>purple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>purple_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,39},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>purple_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,43},{40,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,13}}</string>
                <key>sourceSize</key>
                <string>{40,13}</string>
            </dict>
            <key>purple_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,39},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>purple_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,42},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>purple_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,38},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>purple_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,42},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>purple_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,39},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>purple_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,43},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>purple_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{509,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ca262da16a1a9f40daf3e6e134b47c:89ada099cb138a2d5e7a263657e16187:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
