<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhizhuguai_zidan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{32,12}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>zhizhuguai_zidan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{32,12}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>zhizhuguai_zidan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{32,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{32,12}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{106,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38c95aacb1094f756146c823012029e4:cb1f59eec9badf21107a7116d49ef1ff:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
