<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tieqiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>tieqiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,581},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>tieqiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,388},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>tieqiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{26,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,59}}</string>
                <key>sourceSize</key>
                <string>{26,59}</string>
            </dict>
            <key>tieqiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,905},{80,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>tieqiu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,286},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>tieqiu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,219},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>tieqiu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,581},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>tieqiu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,390},{43,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>tieqiu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,504},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>tieqiu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,816},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>tieqiu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,186},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>tieqiu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,349},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>tieqiu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>tieqiu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,462},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>tieqiu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>tieqiu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,30},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>tieqiu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,270},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>tieqiu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,98},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>tieqiu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,943},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>tieqiu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,144},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>tieqiu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>tieqiu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,943},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>tieqiu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,526},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>tieqiu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,144},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>tieqiu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,349},{37,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,12}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
            <key>tieqiu_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{101,64}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{101,64}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{101,66}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{101,66}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,72}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{117,72}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{117,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{117,70}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,270},{77,48}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{77,48}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,504},{75,44}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{75,44}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,617},{99,70}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{99,70}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{105,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{105,74}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{113,64}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{113,64}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{113,64}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{113,64}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{113,68}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{113,68}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{115,68}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{115,68}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{115,68}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{115,68}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{117,70}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{117,70}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>tieqiu_app_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,75},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>tieqiu_app_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,435},{63,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,25}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>tieqiu_app_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,973},{70,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,27}}</string>
                <key>sourceSize</key>
                <string>{70,27}</string>
            </dict>
            <key>tieqiu_app_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,784},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>tieqiu_app_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,750},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,32}}</string>
                <key>sourceSize</key>
                <string>{74,32}</string>
            </dict>
            <key>tieqiu_app_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,718},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,30}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>tieqiu_app_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,973},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>tieqiu_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{182,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78b1ef6bd94e90bc61e29bb8c88a1e42:a2d6c8071d1a2e1e2e2006954bc734f9:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
