<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongfangxingchen_fd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{45,21}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>dongfangxingchen_fd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{45,21}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>dongfangxingchen_fd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{45,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{45,19}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{143,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32f0098e9e40566c7769bbab80c31ad1:e4e6ae4edafcee887605f564868cf9ed:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
