<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldhh_maoji_shuihua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{76,64}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,63},{76,64}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{76,64}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,63},{76,64}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{128,118}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{128,118}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,124}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{148,124}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{154,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{154,108}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{146,70}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,62},{146,70}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,96},{128,20}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,111},{128,20}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>ldhh_maoji_shuihua0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,74},{132,20}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,112},{132,20}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{652,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9122ccb2bbbdcb3f0e6736e663ae4e82:24d144a44bc63a3b3798179761959e74:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
