<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiumu_zidan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{66,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>xiumu_zidan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{68,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{136,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ccf178fe6fb6a7d691b7591c3f5f5b4:f0a04d18ed74019656d7bd89ba91c04b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
