<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,64},{177,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,170}}</string>
                <key>sourceSize</key>
                <string>{177,170}</string>
            </dict>
            <key>mingw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,740},{49,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,169}}</string>
                <key>sourceSize</key>
                <string>{49,169}</string>
            </dict>
            <key>mingw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,102},{87,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{87,98}</string>
            </dict>
            <key>mingw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,737},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>mingw_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,60}}</string>
                <key>sourceSize</key>
                <string>{498,60}</string>
            </dict>
            <key>mingw_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,588},{16,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{16,38}</string>
            </dict>
            <key>mingw_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,399},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>mingw_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,544},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>mingw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,229},{87,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,25}}</string>
                <key>sourceSize</key>
                <string>{87,25}</string>
            </dict>
            <key>mingw_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,97},{130,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,107}}</string>
                <key>sourceSize</key>
                <string>{130,107}</string>
            </dict>
            <key>mingw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,573},{77,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,114}}</string>
                <key>sourceSize</key>
                <string>{77,114}</string>
            </dict>
            <key>mingw_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,689},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>mingw_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{158,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,93}}</string>
                <key>sourceSize</key>
                <string>{158,93}</string>
            </dict>
            <key>mingw_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,712},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>mingw_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,735},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>mingw_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,642},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>mingw_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,740},{32,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,79}}</string>
                <key>sourceSize</key>
                <string>{32,79}</string>
            </dict>
            <key>mingw_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,705},{30,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,78}}</string>
                <key>sourceSize</key>
                <string>{30,78}</string>
            </dict>
            <key>mingw_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{14,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,64}}</string>
                <key>sourceSize</key>
                <string>{14,64}</string>
            </dict>
            <key>mingw_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,544},{27,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,83}}</string>
                <key>sourceSize</key>
                <string>{27,83}</string>
            </dict>
            <key>mingw_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{158,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,183}}</string>
                <key>sourceSize</key>
                <string>{158,183}</string>
            </dict>
            <key>mingw_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,229},{21,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,133}}</string>
                <key>sourceSize</key>
                <string>{21,133}</string>
            </dict>
            <key>mingw_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,229},{61,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,168}}</string>
                <key>sourceSize</key>
                <string>{61,168}</string>
            </dict>
            <key>mingw_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,606},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>mingw_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,578},{82,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,132}}</string>
                <key>sourceSize</key>
                <string>{82,132}</string>
            </dict>
            <key>mingw_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,451},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>mingw_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,573},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>mingw_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,454},{69,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,117}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>mingw_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{292,174}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{292,174}}</string>
                <key>sourceSize</key>
                <string>{300,186}</string>
            </dict>
            <key>mw_dzb_c_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{344,98}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{344,98}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,102},{338,98}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{338,98}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,202},{340,94}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{340,94}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,236},{340,88}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{340,88}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,236},{340,102}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{340,102}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,240},{346,102}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{346,102}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{348,110}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{348,110}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>mw_dzb_c_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,240},{346,86}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{346,86}}</string>
                <key>sourceSize</key>
                <string>{360,128}</string>
            </dict>
            <key>xuanfeng0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{250,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>xuanfeng0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,202},{250,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>xuanfeng0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,454},{250,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>xuanfeng0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,588},{250,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>xuanfeng0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,606},{250,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{1013,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c2e393bc3222652905e09cbd7e0270:b5392dfec8539cd220c208530c989f1e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
