<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>appear_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{134,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{134,60}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{132,66}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,66}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{122,78}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{102,84}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{96,78}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{96,78}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{84,84}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{84,68}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{84,68}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{68,36}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,29},{68,36}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{70,38}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{70,38}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{70,38}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,28},{70,38}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{64,38}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,28},{64,38}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>appear_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,42},{64,38}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{64,38}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{938,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71cd67f0f7d75ce019319b7b321704e0:15291345365fa77fec3a278387f3d486:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
