<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgys_xzb_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,59},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>tianzhaodi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,49},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>tianzhaodi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,49},{37,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,66}}</string>
                <key>sourceSize</key>
                <string>{37,66}</string>
            </dict>
            <key>tianzhaodi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>tianzhaodi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,59},{24,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,59}}</string>
                <key>sourceSize</key>
                <string>{24,59}</string>
            </dict>
            <key>tianzhaodi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{45,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,98}}</string>
                <key>sourceSize</key>
                <string>{45,98}</string>
            </dict>
            <key>tianzhaodi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,31},{26,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,84}}</string>
                <key>sourceSize</key>
                <string>{26,84}</string>
            </dict>
            <key>tianzhaodi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,100},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>tianzhaodi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>tianzhaodi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,104},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>tianzhaodi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,106},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>tianzhaodi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,108},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>tianzhaodi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,69},{15,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,35}}</string>
                <key>sourceSize</key>
                <string>{15,35}</string>
            </dict>
            <key>tianzhaodi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,71},{10,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,27}}</string>
                <key>sourceSize</key>
                <string>{10,27}</string>
            </dict>
            <key>tianzhaodi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,107},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>tianzhaodi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,62},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>tianzhaodi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,85},{12,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,41}}</string>
                <key>sourceSize</key>
                <string>{12,41}</string>
            </dict>
            <key>tianzhaodi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,104},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>tianzhaodi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>tianzhaodi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,107},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>tianzhaodi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,116},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>tianzhaodi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>tianzhaodi_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,85},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>tianzhaodi_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,93},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>tianzhaodiyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,71},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>up_tianzhaodi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,96},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>up_tianzhaodi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>up_tianzhaodi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,69},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>up_tianzhaodi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,69},{25,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,59}}</string>
                <key>sourceSize</key>
                <string>{25,59}</string>
            </dict>
            <key>up_tianzhaodi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{45,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,98}}</string>
                <key>sourceSize</key>
                <string>{45,98}</string>
            </dict>
            <key>up_tianzhaodi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{27,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,84}}</string>
                <key>sourceSize</key>
                <string>{27,84}</string>
            </dict>
            <key>up_tianzhaodi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>up_tianzhaodi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,108},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>up_tianzhaodi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>up_tianzhaodi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,107},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>up_tianzhaodi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,94},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>up_tianzhaodi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,107},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>up_tianzhaodi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,107},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>up_tianzhaodi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>up_tianzhaodi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,57},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>up_tianzhaodi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,88},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{612,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2407ab020109ff13d496962349bf6974:7fdfd798c6e952317dc523f35fbbe32b:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
