<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>up_yeying_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>up_yeying_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,302},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>up_yeying_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{10,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,60}}</string>
                <key>sourceSize</key>
                <string>{10,60}</string>
            </dict>
            <key>up_yeying_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,32},{44,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,13}}</string>
                <key>sourceSize</key>
                <string>{44,13}</string>
            </dict>
            <key>up_yeying_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,112},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>up_yeying_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>up_yeying_leftuleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,172},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>up_yeying_leftxarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,288},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>up_yeying_leftxleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,199},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>up_yeying_paouleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,230},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>up_yeying_paoxleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,291},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>up_yeying_rightforearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,218},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>up_yeying_rightuleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,170},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>up_yeying_rightxleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,290},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>up_yeying_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,169},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>up_yeyingweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,82},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>yeying_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,200},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yeying_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,166},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,26}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,201},{19,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,231},{19,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,261},{19,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_d09.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,172},{19,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,202},{19,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,232},{19,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>yeying_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{35,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,12}}</string>
                <key>sourceSize</key>
                <string>{35,12}</string>
            </dict>
            <key>yeying_hair1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,232},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>yeying_hair2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,261},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>yeying_hair3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,112},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>yeying_hair4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,262},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>yeying_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>yeying_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>yeying_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,261},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>yeying_lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,310},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>yeying_leftuarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,296},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>yeying_leftuleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,262},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>yeying_leftxarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,249},{11,11}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>yeying_leftxleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,262},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>yeying_paouleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,142},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>yeying_paoxleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,291},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>yeying_piaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,302},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>yeying_piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>yeying_piaodai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,302},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>yeying_piaodai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,144},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>yeying_piaodai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,231},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>yeying_piaodai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,295},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>yeying_pigu.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,194},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>yeying_rightforearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,231},{11,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>yeying_righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,250},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>yeying_rightuarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,280},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>yeying_rightuleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,141},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>yeying_rightxleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,302},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>yeying_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,202},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>yeyingweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>yeyingyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{128,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a8ec8df9c4d34f8eed43d296ee196a:1a1ef150abdff76dde068f0d0ba1432f:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
