<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenmo_cm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{63,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>chenmo_cm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{63,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>chenmo_cm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{63,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{63,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{197,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd68ef556f676b5a15885b5f079f072f:a5c1b6b2d5e8c4371570249c7fdc1b86:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
