<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jxlr_fd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{60,10}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{60,10}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>jxlr_fd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{60,10}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{60,10}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>jxlr_fd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{68,10}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{196,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb9a156416160f8edeb42a088c960c6b:90392ec807137f9cc3f47e6b9600680d:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
