<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsgz_dz_a_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,176},{69,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,44},{69,94}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,110},{83,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,44},{83,96}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,118},{85,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{85,96}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{85,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,43},{85,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{85,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,43},{85,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,89},{85,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,43},{85,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,156},{85,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,43},{85,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{83,98}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,43},{83,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,162},{83,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{83,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,118},{83,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{83,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,102},{85,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,43},{85,98}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{119,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{119,106}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{149,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{149,114}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{161,152}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{161,152}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>bsgz_dz_a_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{169,158}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton0.png</string>
            <key>size</key>
            <string>{795,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf63b8a9820dfa7ac5b4277470c86b4:de38bc08c5d863c8f952cffb455ca23e:fa9998bc0e515e7b468fc096e7b5d659$</string>
            <key>textureFileName</key>
            <string>skeleton0.png</string>
        </dict>
    </dict>
</plist>
